table.tetris
  tr
    td.empty
    td
      a(href='#survey') log
    td.empty
    td.empty
  tr
    td
      a(href='#culture') idea
    td
      a(href='#team') team
    td
      a(href='#honor') HONR
    td.empty
  tr
    td
      a(href='#media') news
    td
      a(href='#research') R&D
    td
      a(href='#recruit') hire
    td
      a(href='#contact') link
