h3 link
article
  h4 hoya taiwan / hoya interior
  p 16F-1, 38 Singuang Rd., Kaohsiung, Taiwan
  p TEL 886 7 2695577   FAX 886 7 2693877
  p E-mail hoya@twhoya.com
  p Contact Person：Cheng, Chun Hua- administrant secretary
  img(src='images/image-loader.svg', title='contact', data-src='images/trinket/qr-ct1.png')
article
  h4 hoya shanghai
  p Suite 721, 1068 Maotai Rd., Shanghai, China
  p TEL 86 21 54223372   FAX 86 21 54223428
  p E-mail hoya@cnhoya.com
  p Contact Person：Chen, Zheng- secretary
  img(src='images/image-loader.svg', title='contact', data-src='images/trinket/qr-ct2.png')
article
  h4 hoya taipei
  p 11F, 166, Sec 3, Minquan E. Rd., Taipei, Taiwan
  p TEL 886 2 25452236   FAX 886 2 25452280
  p E-mail hoya@twhoya.com
  p Contact Person：Peng, Hsin Tsang- architect
  img(src='images/image-loader.svg', title='contact', data-src='images/trinket/qr-ct3.png')
