h3 idea
article
  p Do not follow the rules do not mean in the creation, Art should be free from the shackles of freedom rigid mode creative activities,  But everywhere in line with the law. Such coordination and interaction with the law of freedom of artistic creation should be the ultimate realm. Do not misunderstand art can ignore the law and anti-intellectual foundation and chaos to a pass, It is self-deception
  p Shi Tao (1642-1718) "painting Quotations" 
  p Design mode should not be bound by the de facto freedom of creative activity, but can meet the rules, coordination and interaction with the rules of this freedom should be the realm of extreme creative design
  p Architectural design is the "process" is a function of the mind of space, physical, geographic, technical tools, and create a comprehensive understanding of the law, and the operation
  p Given the restrictions under ambient conditions, showing the tension building itself and inclusiveness; between cacophonous modern and relic, highlighting the pure and timeless nature of space, and the formation of users and local significance; This is what architects the desire
  p Hoya Architects & Associates team, over the years continued to "Make a difference" cogitation, carried out to explore a variety of building types, followed by careful accumulation of agitation, a good understanding third-operation
  p Our service "is not just designed" to become familiar with customers' needs and design conditions, based on the division of labor to construct different designs professional collaboration platform designed to form a tight network to seek the most appropriate solutions proposed thick and diverse design results
  p More design practice, more beautiful space quality, better built environment, more sincere customer service team is continuing efforts Wo Yang building and refining the goals.
  br
  br
