nav.category
  ul
    li.item
      a(href="#year_list") YEAR
    li.item
      a(href="#category_list") CATEGORY
    li
      a(href="#about") ABOUT
ul#year_list
  li(data-year="2014") 2014
  li(data-year="2013") 2013
  li(data-year="2012") 2012
  li(data-year="2011") 2011
  li(data-year="2010") 2010
  li(data-year="2009") 2009
  li(data-year="2008") 2008
  li(data-year="2007") 2007
  li(data-year="2006") 2006
  li(data-year="2005") 2005
  li(data-year="2004") 2004
  li(data-year="2003") 2003
  li(data-year="2002") 2002
  li(data-year="2001") 2001
  li(data-year="2000") 2000
ul#category_list
  li(data-category="10") URBAN DEVELOPMENT, PLANNING
  li(data-category="9") THEATRE, EXHIBIT, CULTURE, EDUCATION
  li(data-category="8") OFFICE, RESEARCH, HEADQUARTERS
  li(data-category="7") COMMERCIAL, HOSPITALITY, ENTERTAINMENT
  li(data-category="6") HEALTH CARE, RELIGION
  li(data-category="5") INDUSTRIAL PLANT
  li(data-category="4") RESIDENTIAL, COMMUNITY
  li(data-category="2") ENVIRONMENT, TRANSPORT, LANDSCAPE
  li(data-category="0") HOYA INTERIOR
.tetris-wrapper
  #tetris
