h3 HONR
article

  h4 2014
  dl
    dt Hon Hai Precision Industry Company R&D Incubation Building and Data Center
    dd The First Session of the 2014 Golden Construction Quality of New Buildings in Kaohsiung: Gold Medal Award
  dl
    dt Fo Guang Shan Monastery Huizhong Si New Construction
    dd Competition invited and The Third
  dl
    dt Uni-President Kunshan Development Project (The First Phase Building Design)
    dd Competition invite and Award

  h4 2013
  dl
    dt Fujian Vocational and Technical College of Optoelectronic
    dd Hong Kong Institute of Architects Architectural Design ForumFour Places and Grand Awards 2013

  h4 2012
  dl
    dt Kaohsiung American School Foundation cum school campus overall planning new construction
    dd Competition invited and The Second
  dl
    dt Shu-Te University Shu-Te Wenhui dormitoryNew Construction
    dd Competition invited and The Third

  h4 2010
  dl
    dt Kaohsiung World Trade Exhibition and Conference CentreTurnkey project
    dd TurnKey Competition invited and The Third

  h4 2009
  dl
    dt Ching Fu Shipbuilding
    dd RIBA International Awards 2009
  dl
    dt Liudui Hakka Cultural Park
    dd 2009 Architecture Yuam-Yie Award，Ping-Tung County Public Landscape Design Award
  dl
    dt O5R10 (Formosa Boulevard) Sub-Way station
    dd 2009 Architecture Yuam-Yie Award，Kaohsiung Special Award

  h4 2008
  dl
    dt Dream Mall-Kaohsiung
    dd Gold Nugget Awards，2008 Grand Award best in the west，In Recognition of Excellence and Value，Best International Commercial / Retail Project
  dl
    dt Dream Mall Shopping Center
    dd First Republic of China Urban Design Awards Design class of preferred private development of space
  dl
    dt Ching Fu Group's operational headquarters
    dd First Republic of China Urban Design Award finalists
  dl
    dt Dream Mall Shopping Center
    dd Third Session of Kaohsiung selection of high quality urban design landscape preferred group works building, Preferred Project

  h4 2006
  dl
    dt Kaohsiung District 1-22 Pier waterfront transformation strategy planning
    dd International levy election works

  h4 2005
  dl
    dt Dongguang Elementary School community road through
    dd Dongguang Elementary School Appreciation

  h4 2003
  dl
    dt Kaohsiung Harbor Line Railway passenger train station and the surrounding body Sunbeam station with construction
    dd The First Session of the Kaohsiung good urban design works fine landscape Choice Awards
