h3 news
article

  h4 2013
  dl
    dt Jiangsu Science and Technology Press 《2012-2013 Annual Review of Chinese Architectural Design Work》(Valume I)
    dd
      p〈Hon Hai Precision Industry Company R&D Incubation Building and Data Center〉
      p〈Agricultural export ornamental fish and aquatic park seed production and plant operations area standards〉
      p〈E-Da Castle Hotel〉
      p〈E-Da Royal Theatre〉
      p〈E-Da World 123 Plaza〉
      p〈E-Da World Earl D.C.〉
      p〈Ching-Fu Zhangzhou Vocational and Technical College of Optoelectronic, First Phase〉
      p〈統正 Phase Two Design and Development〉
      p〈Fujian Pingtan Comprehensive Development Project〉
      p〈Queena Plaza Hotel Hall Three〉
      p〈Queena Plaza Hotel Garden Ballroom〉
      span pp.282-289

  h4 2013
  dl
    dt Architect magazine 《Taiwan Architect》2013, February (458 Session)
    dd
      p〈Agricultural research and development park-cum-logistics centers and sales operations〉 
      span pp.74-80

  h4 2012
  dl
    dt Kaohsiung Association of Architects 《Centennial，Kaohsiung architect works Yearbook》
    dd
      p〈E-Da Royal Theatre〉
      p〈National High School Matilda House Chaozhou〉
      p〈Haimen IRS data processing center〉
      span pp.28-33

  h4 2010
  dl
    dt Fiell Publishing Limited 《Richard Rogers+Architects  From the house to the city》
    dd
      p〈Ching Fu Group Headquarters〉 
      span pp.240-241

  h4 2009
  dl
    dt Kaohsiung Building Franchise Association   《2009 Architecture Yuam-Yie Award》 
    dd
      p〈Kaohsiung MRT station O5R10〉
      span pp.198-201

  h4 2009
  dl
    dt Kaohsiung Building Franchise Association   《2009 Architecture Yuam-Yie Award》 
    dd
      p〈Liudui Hakka Cultural Park〉
      span pp.62-65

  h4 2009
  dl
    dt Architect magazine   《Taiwan Architect》2009, June (414 Session) 
    dd
      p〈O5R10 (Formosa Boulevard) Sub-Way station〉
      span pp.68-73

  h4 2009
  dl
    dt Building magazine  《Architecture Dialogue》2009, May/ June (134 Session) 
    dd
      p〈O5R10 (Formosa Boulevard) Sub-Way station〉
      span pp.82-91

  h4 2009
  dl
    dt Kaohsiung Association of Architects  《2008, Kaohsiung architect works Yearbook》 
    dd
      p〈Ching Fu Group Operation Headquarters Architecture Design〉
      p〈Lian Tan International House building additional alterations building design〉
      p〈Shu-Te University Administration Building Auditorium cum architectural design〉
      p〈Windsor Park Hotel Kunshan〉
      p〈CASINO Hotel Bac Ninh Vietnam〉
      p〈Guanyin mountain legendary architectural design〉
      span pp.18-29

  h4 2008
  dl
    dt Architect magazine   《Taiwan Architect》2008, December (408 Session) 
    dd
      p〈Lian Tan International House building additional alterations building design〉
      span pp.50-57

  h4 2008
  dl
    dt Architect magazine   《Taiwan Architect》2008, January (397 Session)  
    dd
      p〈Ching Fu Group Operation Headquarters〉
      span pp.80-85

  h4 2007
  dl
    dt Architect magazine   《Taiwan Architect》2007, August (392 Session) 
    dd
      p〈Shu-Te University Administration Building Auditorium cum architectural design〉
      span pp.80-87

  h4 2007
  dl
    dt Architect magazine   《Taiwan Architect》2007, May (389 Session)  
    dd
      p〈Dream Mall Shopping Center〉
      span pp.44-51

  h4 2006
  dl
    dt Taiwan Architecture magazine reports    《2006Taiwan Landscape Portfolio》 
    dd
      p〈Hi-Guang Village Three park landscape conservation recycling project〉
      span pp.86-93

  h4 2006
  dl
    dt Architect magazine   《Residential Classic》Special edition 
    dd
      p〈Alliance Building〉
      span pp.160-165

  h4 2006
  dl
    dt Taiwan Architecture magazine reports    《Taiwan Architecture》2006, November (134 Session)
    dd
      p〈Conflict and Cooperation, look inside and outside the building design industry in Taiwan symbiosis〉
      span pp.108-109

  h4 2006
  dl
    dt Architect magazine   《Taiwan architect》2006, April (376 Session)，Drawing board 
    dd
      p〈Ching Fu Group Operation Headquarters〉
      span pp.74-75

  h4 2006
  dl
    dt Kaohsiung Association of Architects  《Kaohsiung architect Yearbook．2005．Kaohsiung》
    dd
      p〈Hantai puluo poetry〉
      p〈HantaiTree lane Phase Two〉
      p〈Shanghai Bright Lighting Application Center〉
      p〈Kaohsiung Alliance Building Housing Complex new construction〉
      p〈Kaohsiung Shaochuantou One ship canal dining facilities new construction〉
      span pp.18-29

  h4 2005
  dl
    dt Public Works Bureau of Kaohsiung City Government   "Sunshine Fun Kaohsiung City to school or school community channel series works (94)" (SHE urban green concerto series published)
    dd
      p〈Dongguang Elementary School Dongguang Trail  of Arts and ecological harmony compose the music〉
      span pp.20-23

  h4 2005
  dl
    dt Kaohsiung Musium of Fine Art    《Kaohsiung 300 years past building review》  
    dd
      p〈Kaohsiung Harbor Line Railway passenger train station body - Singuang Station〉
      span pp.210-215

  h4 2005
  dl
    dt Taiwan Architecture magazine reports    《Hussars hunting. Looking at China Taiwan strait designers work space coverage》
    dd
      p〈Hoya Architect & Associates office / Hoya Construction Consulting Co., Ltd.〉
      span pp.186-207

  h4 2005
  dl
    dt Taiwan Architecture magazine reports    《2005 Taiwan Landscape Portfolio》 
    dd
      p〈Gin Company Ningyi a landscape plant, Plase One〉
      span pp.122-127

  h4 2005
  dl
    dt Taiwan Architecture magazine reports    《Taiwan Architecture》2005, June (117 Session)
    dd
      p〈Shanghai Bright Lighting Application Center〉
      span pp.98-99

  h4 2005
  dl
    dt Information department of Kaohsiung City Government  《Kaohsiung Illustrated》2005, June (NO.2)
    dd
      p〈Let the world see the pier stunning debut as Singuang Pier 〉
      span pp.10-11

  h4 2005
  dl
    dt Architect magazine   《Taiwan Architect》2005, April (364 Session)  
    dd
      p〈Alliance Building〉
      span pp.58-59

  h4 2005
  dl
    dt Architect magazine    《Taiwan Architect》2005, April (364 Session) 
    dd
      p〈Kaohsiung Harbor Line SkyTrain station-cum-ferry station〉
      span pp.60-61

  h4 2005
  dl
    dt Taiwan Architecture magazine reports   《Taiwan Architecture》2005, February (113 Session)
    dd
      p〈Office of Hoya Architects & Associates〉
      span pp.124-125

  h4 2004
  dl
    dt Taiwan Architecture magazine reports   《2004 Taiwan Landscape Portfolio》  
    dd
      p〈Harbor Line Skytrain station-cum-ferry terminal body works construction〉
      span pp.106-113

  h4 2004
  dl
    dt Taiwan Architecture magazine reports   《Taiwan Architecture》2004, June (105 Session)
    dd
      p〈Harbor Line Skytrain station-cum-ferry terminal body works construction〉
      span pp.60-65

  h4 2003
  dl
    dt Kaohsiung Association of Architects   《2003 Architect Portfolio》
    dd
      p〈Kaohsiung Harbor Line Railway passenger train station body - Singuang Station〉
      p〈Toyokuni-cum-Ching Fu Shipbuilding Management Center〉
      p〈Alterations Hamagawa business administration building〉
      span pp.70-75

  h4 2003
  dl
    dt Taiwan Architect Association, Tainan County Offices   《2003 Architect Portfolio》
    dd
      p〈Hsia Wen Lin architect office〉
      span pp.87-90

  h4 2003
  dl
    dt Taiwan Architecture magazine reports   《Taiwan Architecture》2003, May (92 Session)
    dd
      p〈Ching Fu Shipbuilding Management Center〉
      span pp.34-41

  h4 2002
  dl
    dt Building magazine  《Architecture Dialogue》2002, November (64 Session) 
    dd
      p〈The creation of modern legend - the wind and the shadow of the dialogue〉
      span pp.82-91
