h3 log
article
  h4 2014
  p Hoya Shanghai Maotai Road office expansion and modification
  p Architecture Yuam-Yie Award - City Meets Architecture ‧ Pier-2 Art Center- Architecture Exhibition
  p Hoya Shanghai offuce travel company employees trip: seven days in Tokyo, Japan
  p Hoya Architectural Design Consulting (Shanghai) Co., Ltd. was incorporated, headed by Hsia, Wen Lin
  p Checn, Chun Hua became associate of  Hoya Architects & Associates
article
  h4 2013
  p Hoya Interior Co., Ltd. was incorporated, headed by Hsia, Wen Lin
  p Organizing domestic tourism: Kinmen three days tour.
article
  h4 2012
  p Organizing foreign travel: Italian ten days tour and visited Venice Architecture Biennale.
  p Hoya Vietnamese companies to suspend operations.
article
  h4 2011
  p Hoya Architects & Associates held the tenth anniversary celebration.
  p Hoya Architects & Assocuates restructuring, Shiang-Mei Liou, Vincent Chao, Jason Huang joined Hoya Archutects & Associates execution shareholders.
article
  h4 2010
  p Hoya Shanghai company moved to Room (Tianxiang Building site) 721 1068 Maotai Road, Changning District, Shanghai.
  p Organizing foreign travel: Tokyo, Japan, Hakone 5 days tour.
  p Chung Yuan Christian University Architecture Building Exhibition Fiftieth Anniversary
  p Hoya Vietnam, company incorporated with an offices located in Hanoi Metropole paper bridge County paper bridge downtown.
  p Jason Huang, Betty Ting, Po-Yin Chen become associates of Hoya Architects & Assocuates
  p Hoya Architects & Associates restructuring,  Maoliang Huang conclusion execution shareholders title and duty in Hoya Architets & Assocuates
article
  h4 2009
  p Hoya Shanghai company operating in Nanjing in east conclusion joint engineering Limited.
article
  h4 2008
  p Hoya Shanghai Dongfeng Design Institute in cooperation with the Joint Operations Engineering Co., Ltd. Nanjing Southeast, executive vice chairman ming Young Hsu, Vice President Wen Lin Hsia and Jiade Chu
  p Hoya Architectural Design Consulting (Shanghai) Co., Ltd. was incorporated, headed by Hsu, Ming Young.
  p Prime Minister's visit to Vietnam and Hanoi municipal government.
  p Visit Singapore SCDA and WOHA Architects.
article
  h4 2007
  p Hoya Architects and Associates Co., Ltd，British Virgin Islands 
  p Hoya overseas companies- Hoya Architects and Associates Co., Ltd, British Virgin Islands incorporated, headed by Hsia, Wen Lin
  p Conclusion Bojan Engineering Consulting Co., Ltd. in Suzhou.
  p Organizing domestic tourism: Kaohsiung Polaris 2 days trip
  p Conclusion participate shareholder members of Hoya Construction Consulting (Shanghai) Co., Ltd.
  p Shiang-Mei Liou, Vincent Chao and Hsueh Hsing Liao become associate of Hoya Architects & Associates
article
  h4 2006
  p Organizing foreign travel: Thailand 25 days trip.
  p Visit Osaka, Tokyo and CDI design firm.
  p Visit the British Richard Rogers Partners (RRP, now reorganized as RSH-P), London, the Netherlands
  p Have joined the Hoya Construction Consulting (Shanghai) Co., Ltd. shareholder members
  p Hoya Shanghai company moved to Wuzhong Road, Minhang District, Room 810, No. 1199 (World Trade Center)
article
  h4 2005
  p Organizing foreign travel: Hokkaido, Japan 25 days trip
  p Tainan County, Taiwan Province of the Society of Architects office building art exhibition-cum-exhibition
  p Hoya Architects & Associates relocated to Kaohsiung Singuang Road, No. 38, 16F-1 (present site of the Asia-Pacific Financial Plaza)
  p Shenzhen East Hoya Planning Consulting Incorporated
  p Suzhou Bojan Engineering Consulting Incorporated
article
  h4 2004
  p Organizing domestic tourism: Taitung Jhihben the 2 days trip
  p Wang+Hsia, Architects & Assocuates was renamed to Hoya Architects & Assocuates, the executive members of the same shareholders
  p Organizing foreign travel: Seoul, Korea, Seoraksan 5 days trip
article
  h4 2002
  p Wang+Hsia, Architects & Assocuate restructuring, Wang Jiaxiang conclusion Wang+Hsia, Architects & Assocuate executive shareholder
article
  h4 2001
  p Wang+Hsia, Architects & Assocuate in restructuring, Hsu Ming Yang, Huang Maoliang, Wen Lin Hsia, Eliot Wang were the  founding executive shareholders, the site located on the 5th Floor, No. 93 Third Road Kaohsiung, Taiwan Ta Shun 4 (large industrial and commercial buildings along
  p Changshu Hoya Construction Consulting Incorporated, located in Changshu office early, and then relocated to Shanghai Xian Xia Lu Xinda office building
