h3 team
ul.names
  li.active
    a(href='#m1') Hsu, Ming Yang
  li
    a(href='#m2') Hsia, Wen Lin
  li
    a(href='#m3') Liou, Shiang-Mei
  li
    a(href='#m4') Chao, Vincent
  li
    a(href='#m5') Huang, Jason

article#m1.active

  h4 Postion
  p Hsu, Ming Yang
  p partner, principal architect

  h4 Education Background
  p Master of Design at Harvard University in real estate design and development
  p Cornell University Master of Architecture
  p Taiwan Chung Yuan Christian University Bachelor of Architecture

  h4 Experience
  p Architects Association of Academic Committee of Kaohsiung (10th Session)
  p Kaohsiung Architects Association Public Affairs Committee (12th Session)
  p 2010- Hoya, general manager of architectural design company in Vietnam
  p 2008 - Hoya Architectural Design Consulting (Shanghai) Co., Ltd. General Manager
  p 2008-2009 Nanjing Southeast United Engineering Design Co. Executive Vice Chairman
  p 2004-2005 National Fengshan preparatory committee High School Complex
  p 2004 Architects Association of Community Architect Kaohsiung (San Min District)
  p 2003-2004 Southeast Cement Company Limited Development Consultant
  p 1999-2000 Kao Yuan Institute of Technology Adjunct Lecturer, Department of Architecture
  p 1998-1999 Adjunct Lecturer, Department of Interior Design Te University of Science and Technology
  p 1998 Taipei City Government Works Building Administration Office
  p 1997-2004 TONY Development Corporation project architects, consultants
  p 1996 Cornell University Assistant Professor, Department of Architecture
  p 1991-1993 Taipei Daewoo Architects Project Designer

  h4 Specialty
  p Higher Examinations public servants (1998 "高公字" No. 836)
  p Professional and technical architect pass entrance (1998"專高字" No.707)
  p Architect Certificate ("建證字" No.4132)
  p Registered Architect ("高建開證" No.303)
  p Member of the Institute of Architects, Taiwan ("台建師員字" No.3232)
  p Taipei Architects Association Member ("北師字" No.2612)
  p Kaohsiung member of the Association of Architects ("高建師員字" No.1231)
  p APEC Architect Register (Certificate No.CT / 00089)
  p Building Public Safety Inspection professional inspector ("認可證字" No.97D0141320)
  p Interior building professional and technical personnel ("內營室技字" No.40E1009227)
  p Fire safety equipment design and supervision provisional practicing ("消暫證字" No.950215)
  p Public buildings set in concert with disabilities to use the facilities and equipment inquest officers ("內營無障礙字" No.0578)
  img.team-detail-avatar(src='images/image-loader.gif', title='photo', data-src='images/photo/1.jpg')

article#m2

  h4 Postion
  p Hsia, Wen Lin
  p partner, principal architect

  h4 Education Background
  p Master of Architecture National Cheng Kung University in Taiwan
  p Taiwan Tamkang University Department of Architecture, National Taiwan University EMBA 101A Commerce Group

  h4 Experience
  p Kaohsiung Architects Association Public Affairs Committee (11th Session)
  p 2014- Hoya Architectural Design Consulting (Shanghai) Co., Ltd. Leader                                                                            2010 Department of Architecture and Environmental Design Te University Adjunct Lecturer
  p 2008-2009 Deputy General Manager of Nanjing Southeast United Engineering Design Co., Ltd.
  p 2004 Architects Association of Community Architect Kaohsiung (San Min District)
  p 2001-2004 Shu-Te University of Architecture and monuments maintain Adjunct Lecturer
  p 1994-2000 Kaohsiung New Architects firm, Architects
  p 1994 Department of Architecture, National Cheng Kung University C + A Laboratory Research Assistant
  p 1992-1993 Tainan Linquan Cheng Architects, Designers
  p 1991-1992 Taipei Ding Maosheng Architects, Designers

  h4 Specialty
  p Professional and technical architect pass entrance (1995"專高字" No.692號)
  p Architect Certificate ("建證字" No.3859)
  p Registered Architect ("建開證" No.1953)
  p Member of the Institute of Architects, Taiwan ("台建師員字" No.3138)                                            Tainan County Architects Association Member (Member no.062)
  p Kaohsiung member of the Association of Architects ("高建師員字" No.1205)                                     Fujian Kinmen and Matsu area member of the Association of Architects (Member No.0219)
  p Building Public Safety Inspection professional inspector ("認可證字" No.98A0121941)
  p Interior building professional and technical personnel ("內營室技字" No.40E1004831)
  p Fire safety equipment design and supervision provisional practicing ("消暫證字" No.884034)
  p Public buildings set in concert with disabilities to use the facilities and equipment inquest officers ("內營無障礙字" No.2059)
  img.team-detail-avatar(src='images/image-loader.gif', title='photo', data-src='images/photo/2.jpg')

article#m3

  h4 Postion
  p Liou, Shiang Mei
  p partner, senior architect

  h4 Education Background
  p Cornell University Master of Architecture
  p Taiwan Chung Yuan Christian University Bachelor of Architecture

  h4 Experience
  p 2013- Hoya interior design Co., Ltd. Person in charge             2009- Cheng Shiu University Adjunct Lecturer, Department of Architecture
  p 2005-2006 Shu-Te University of Architecture and monuments maintain Adjunct Lecturer
  p 2004 Architects Association of Community Architect Kaohsiung (San Min District)
  p 1998-1999 Adjunct Lecturer, Department of Interior Design Shu-Te University of Science and Technology
  p 1998-2000 Kaohsiung XINRUIDU Development Corporation Assistant Manager Sales Office
  p 1997-1998 Kaohsiung Shi Bangxing Architects Architect Director
  p 1993-1994 Taipei Pacific Housing Corporation plan designer
  p 1990-1993 Taipei Daewoo Architects Designers
  p 1988-1989 Taipei Chenzu Hai Architects assistant designer

  h4 Specialty
  p Professional and technical architect pass entrance ("1997專高字" No.517)
  p Architect Certificate ("建證字" No.4047)
  p Registered Architect ("高建開證" No.303)
  p Kaohsiung member of the Association of Architects ("高建師員字" No.1179)
  p Building Public Safety Inspection professional inspector ("認可證字" No.97D0140470)
  p Interior building professional and technical personnel ("內營室技字" No.40E1109226)
  p Public buildings set in concert with disabilities to use the facilities and equipment inquest officers ("內營無障礙字" No.0579)
  img.team-detail-avatar(src='images/image-loader.gif', title='photo', data-src='images/photo/3.jpg')

article#m4

  h4 Postion
  p Chao, Vincent
  p partner, senior architect

  h4 Education Background
  p Master of Architecture National Cheng Kung University in Taiwan
  p Bachelor of Architecture National Cheng Kung University in Taiwan

  h4 Experience
  p 2005-2006 Tainan County Rural Development Authority
  p 2003-2004 Shu-Te University of Architecture and monuments maintain Adjunct Lecturer
  p 2000 Ta-Shu Architects, Designers
  p 1999 New Architects, Designers

  h4 Specialty
  p Professional and technical architect pass entrance (2002"專高字" No.9519)
  p Architect Certificate ("建證字" No.4864)
  p Registered Architect ("高建開證" No.C000371)
  p Member of the Institute of Architects, Taiwan ("台建師員字" No.3917)
  p Kaohsiung member of the Association of Architects ("高建師員字" No.1478)
  img.team-detail-avatar(src='images/image-loader.gif', title='photo', data-src='images/photo/4.jpg')

article#m5

  h4 Postion
  p Huang, Jason
  p partner, design director (Hoya Shanghai)

  h4 Education Background
  p Master of Architecture at Tunghai University in Taiwan
  p Taiwan Kao Yuan University Bachelor of Architecture

  h4 Experience
  p 2010- Hoya Architectural Design (Shanghai) Co., Ltd. Design Director
  p 2008-2009 United Engineering Design Co., Ltd. Nanjing Southeast Project Designer
  p 2007-2008 Hoya Architectural Design (Shanghai) Co., Ltd. Project Designer
  p 2004 Taipei Zhang Zhen Architects Project Manager
  p 2004 Taichung Winery site Surveys and research buildings
  p 2003 Changhua County "Lukang Ding house" historical building repair works fortifications record
  p 2003 Research restoration of historic buildings saved Taichung Taichung City Hall and state labor, repair, re-use planning
  p 2002 Lukang Dragon Temple, "the disintegration of the survey monuments and fortifications repair records" research
  p 2000 Tainan Huang Zhirui Architects, Designers
  p 1997 Tainan Kuan-Chou Chen Architects, Designers
  img.team-detail-avatar(src='images/image-loader.gif', title='photo', data-src='images/photo/5.jpg')
