ul#filter {
  color: @hoya-menu-color;
  background-color: @hoya-menu-bg-color;
  list-style: none;
  line-height: 3rem;
  max-height: 20rem;
  max-width: 13rem;
  min-width: 6rem;
  overflow: auto;
  opacity: .97;
  .box-shadow-helper(4);
  li {
    white-space: nowrap;
    padding: 0 1rem;
  }
}

nav.category {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 1rem;

  > ul {
    display: block;
    color: @hoya-sub-title-color;

    > li {
      display: inline-block;
      position: relative;

      a {
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        padding: 0 1rem;
      }

      &.active a {
        color: @hoya-menu-color;
        .box-shadow-helper(4);
      }
    }
  }

  > ul li.active {
    color: @hoya-menu-color;
    background: @hoya-menu-bg-color;
  }
}
