@hoya-orange: #E27D12;
@hoya-black: #231815;
@hoya-green: #84C325;
@hoya-white: #FFFFFF;
@hoya-content: #828282;
@hoya-light: #B5B5B5;
@hoya-background: @hoya-white;
@footer-height: 3rem;
@header-height: 3rem;

@font-face {
  .font-face(BGOTHL, ~'fonts/BGOTHL', normal, normal)
}

@font-face {
  .font-face(BGOTHM, ~'fonts/BGOTHM', normal, normal)
}

* {
  padding: 0;
  margin: 0;
  .box-sizing(border-box);
}

html, body {
  display: block;
  color: @hoya-black;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

footer {
  text-align: center;
  font-size: .8rem;
  color: @hoya-light;
  display: none;
}

body, button, input, select, textarea, i{
  font: 12px/1.5 "BGOTHL", "Microsoft YaHei","Tahoma","Arial";
}

a {
  color: @hoya-black;
  text-decoration: none;

  &:hover {
    color: @hoya-orange;
    text-decoration: underline;
  }

  &.active {
    color: @hoya-orange;
  }
}
