@font-face {
    font-family: 'BGOTHL';
    src: url('fonts/BGOTHL/BGOTHL.eot');
    src: local('☺'), url('fonts/BGOTHL/BGOTHL.woff') format('woff'), url('fonts/BGOTHL/BGOTHL.ttf') format('truetype'), url('fonts/BGOTHL/BGOTHL.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BGOTHM';
    src: url('fonts/BGOTHM/BGOTHM.eot');
    src: local('☺'), url('fonts/BGOTHM/BGOTHM.woff') format('woff'), url('fonts/BGOTHM/BGOTHM.ttf') format('truetype'), url('fonts/BGOTHM/BGOTHM.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

html, body {
  display: block;
  color: @hoya-content-color;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-family: "BGOTHL", "Microsoft YaHei", "Tahoma", "Arial";
}

main {
  display: block;
}

a {
  color: @hoya-sub-title-color;
  text-decoration: none;

  &:hover, &.active {
    color: @hoya-link-color;
  }
}

nav {
  display: block;
  height: @hoya-nav-height;
  line-height: @hoya-nav-height;
  font-size: 1rem;
  > * {
    display: inline-block;
    line-height: inherit;
    height: inherit;
  }
}

header nav a {
  width: 3rem;
  text-align: center;
}

section {
  font-size: @hoya-body-font-size;

  h3 {
    color: @hoya-title-color;
    font-size: @hoya-title-font-size;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  article {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    color: @hoya-content-color;

    h4 {
      color: @hoya-sub-title-color;
      margin-bottom: .5rem;
      font-size: @hoya-subtitle-font-size;
      font-weight: normal;
    }

    p {
      color: @hoya-content-color;
      line-height: 1rem;
      margin: .4rem 0;
    }
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
