@font-face {
  font-family: 'hoya';
  src: url('fonts/hoya/hoya.eot?14058756');
  src: url('fonts/hoya/hoya.eot?14058756#iefix') format('embedded-opentype'),
       url('fonts/hoya/hoya.woff?14058756') format('woff'),
       url('fonts/hoya/hoya.ttf?14058756') format('truetype'),
       url('fonts/hoya/hoya.svg?14058756#hoya') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "hoya";
  font-style: normal;
  font-weight: normal;

  font-size: inherit;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  line-height: inherit;
  vertical-align: bottom;
}
 
.icon-left:before { content: '\e800'; }
.icon-right:before { content: '\e801'; }
.icon-menu:before { content: '\e802'; }
.icon-app:before { content: '\e803'; }