@footer-height: 3rem;
@header-height: 3rem;

.page {
  display: none;
  position: absolute;
  top: 3rem;
  bottom: 0;
  width: 100%;
}

.tetris-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  bottom: 0;
}

.hlogo {
  position: absolute;
  top: -@header-height;
  padding: .5rem 1rem;
  img {
    height: 2rem;
  }
}

footer {
  width: 100%;
  // height: @footer-height;
  // line-height: @footer-height;
  // top: auto;
  height: 0;
  position: absolute;
  bottom: 0;
}
