@nav-height: 3rem;

.filter {
  display: none;
  z-index: 3;
  &.show {
    display: block;
  }
  background-color: @hoya-white;
}

nav {
  display: block;
  height: @nav-height;
  line-height: @nav-height;
  font-size: 1rem;
  padding: 0 1rem;
  > * {
    display: inline-block;
    line-height: @nav-height;
    height: @nav-height;
  }
  a {
    position: relative;
    padding: 0 .5rem;
    vertical-align: middle;
    &:hover, &.active {
      color: @hoya-orange;
    }
  }
}

nav.menu {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: .3rem;
  a {
    color: @hoya-orange;
    font-size: 1.5rem;
  }
}

nav.menu:empty {
  width: 8rem;
  background-image: url('../images/logo/hoya.png');
  background-repeat: no-repeat;
  background-position: 1rem center;
}

nav.locale {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: .5rem;
}

