@nav-height: 3rem;

.nav-list {
  display: none;
  z-index: 3;
  &.show {
    display: block;
  }
  background-color: @hoya-white;
}

nav {
  display: block;
  height: @nav-height;
  line-height: @nav-height;
  font-size: 1rem;
  padding: 0 1rem;
  > * {
    line-height: @nav-height;
    height: @nav-height;
  }
  a {
    position: relative;
    &:hover, &.active {
      color: @hoya-orange;
    }
  }

  ul {
    li {
      list-style: none;
      display: inline-block;
      height: inherit;
      line-height: inherit;
    }
  }
}

nav.locale {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100000;
  a {
    padding: 0 .5rem;
  }
}

nav.category {
  position: absolute;
  left: 0;
  top: 0;
  > ul > li {
    padding: 0 1rem;
  }
}

nav.menu {
  position: absolute;
  top: -3rem;
  padding-left: .4rem;
  a {
    color: @hoya-orange;
    font-size: 1.5rem;
    width: 2.5rem;
    text-align: center;
  }
}
