

//--------------TODO: for debug
.nav-list {
  display: none;
}
// .nav {
//   display: none;
// }
//-----------------------------

.my_tetris {
  position: absolute;
  width: 320px;
  height: 100%;
}

.tetris {
  position: absolute;
}

.tetris-block {
  position: absolute;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;

  i {
    display: block;
  }

  .case_thumbnail {
    position: absolute;
    overflow: hidden;
    border: 1px solid @hoya-orange;
    top: -16px;
    left: -16px;
    width: 70px;
    height: 70px;
    z-index: 100;

    .transition(all .16s ease-out);
    .scale(0);
    .opacity(0);
  }
}
.tetris-block:hover {
  .case_thumbnail {
    .scale(1);
    .opacity(1);
  }
  .case_title {
    display: block;
  }
}
.tetris-block.tetris-transparent:hover {
  .case_thumbnail, .case_title {
    display: none;
  }
}
.tetris-transparent {
  .transition(all .2s ease-out);
  .opacity(.3);
}
.case_title {
  position: absolute;
  padding: 3px 6px 2px;
  background: #111;
  color: @hoya-white;
  top: 14px;
  left: 26px;
  font-size: 12px;
  line-height: 16px;
  z-index: 101;
  display: none;
  text-align: center;
}