#case.page {
  padding: 0;
  overflow-y: hidden;
}

.indicators {
  position: absolute;
  height: 2rem;
  bottom: 0;
  width: 100%;
  z-index: 5;
  text-align: center;
  line-height: 2rem;

  .indicator {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin: .3rem;
    line-height: 2rem;
    vertical-align: middle;
    border: 1px inset @hoya-indicator-color;
    background-color: @hoya-indicator-color;

    &.active {
      background-color: @hoya-indicator-color-active;
      border-color: @hoya-indicator-color-active;
    }
  }
}

.highlight.active .lightbox {
  position: relative;
  display: block;
  top: 0;
  height: 100%;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.88);

  .gallery {
    .slide {
      background-color: transparent;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}


.gallery {
  position: relative;
  display: block;
  top: 0;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;

  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: left top transform;

  display: block;
  &.image {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: @hoya-white;
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin: 0;
      padding: 0;
    }
  }
  &.active {
    left: 0 !important;
    z-index: 3;
  }

  &.left {
    left: -100%;
  }

  &.right {
    left: 100%;
  }

  &.description {
    padding: 1rem 1rem 2rem 1rem;
    text-align: left;
    color: @hoya-content-invert-color;
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;

    h3 {
      color: @hoya-content-invert-color;
      font-size: @hoya-title-font-size;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: @hoya-subtitle-font-size;
    }
    p {
      font-size: @hoya-body-font-size;
      line-height: 2rem;
    }
  }

  img {
    vertical-align: middle;
    
    max-height: 95%;
    max-width: 95%;
  }
}