#team {
  .names {
    float: left;
    display: inline;
    width: 4rem;
    li {
      list-style: none;
      a {
        color: #ACACAC;
        font-size: .85rem;
        line-height: 2rem;
      }
      &.active {
        a {
          font-size: 1rem;
          color: @hoya-sub-title-color;
        }
      }
    }
  }

  article {
    overflow: auto;
    display: none;
    &.active {
      display: block;
    }
  }
}