#tetris.page{
  padding: 0;
}

.tetris-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}


.tetris-block {
  position: absolute;
}

.tetris-cell {
  position: absolute;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;

  .case {
    position: absolute;
    padding: 1px;
    bottom: 0;
    text-align: center;
    vertical-align: bottom;
    font-size: 100%;
    width: 100%;
    i {
      display: block;
      font-size: 120%;
      font-weight: bold;
    }
    span {
      display: block;
    }
  }

  &.disabled, &:empty {
    cursor: auto;
  }
}