
.icon(@x, @y) {
  display: inline-block;
  width: 33px;
  height: 33px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../images/icon/category.png") @x @y no-repeat;
}
.icon-a {
  .icon(0, 0);
}
.icon-b {
  .icon(0, -50px);
}
.icon-c {
  .icon(0, -100px);
}
.icon-d {
  .icon(0, -150px);
}
.icon-e {
  .icon(0, -200px);
}
.icon-f {
  .icon(0, -250px);
}
.icon-g {
  .icon(0, -300px);
}
.icon-h {
  .icon(0, -350px);
}
.icon-i {
  .icon(0,-400px);
}
.icon-j {
  .icon(0, -449px);
}
.icon-k {
  .icon(0, -497px);
}