@font-face {
  .font-face(BGOTHL, ~'fonts/BGOTHL', normal, normal)
}

@font-face {
  .font-face(BGOTHM, ~'fonts/BGOTHM', normal, normal)
}

html, body {
  color: #040000;
  width: 100%;
  height: 100%;
}

body, button, input, select, textarea {
  font: 12px/1.5 "BGOTHL", "Microsoft YaHei","Tahoma","Arial";
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1.txhide {
  position: absolute;
  top: -100px;
}
.hlogo {
  position: absolute;
  top: 10px;
  left: 9%;
}
.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: #B5B5B5;
  font-size: 12px;
  p {
    margin: 0;
  }
}

.page {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.language {
  position: absolute;
  right: 100px;
  top: 60px;
  z-index: 100000;
  a {
    color: #040000;
    &:hover {color: #e27e12;}
  }
  a.current {
    color: #e27e12;
  }
}

  
.txhide { 
  overflow: hidden; 
  text-indent: 100%; 
  white-space: nowrap; 
}

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after { clear:both; }
.cf { *zoom:1; }

.dn {
  display: none !important;
}

.tu {
  text-decoration: underline;
}

.loading {
  position: absolute;
  background: url(../images/trinket/loading.gif);
  bottom: 60px;
  right: 40px;
  z-index: 10;
  width: 200px;
  height: 23px;
}

.loading_shade {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

.scale_small {
  .scale(.75);
}

.scale_mid {
  .scale(.88);
}