extends ./layout.jade

block vars
  - var lang = 'en';

block content
  include jade/en.jade

block data
  // build:js({app,.tmp}) scripts/data.en.js
  script(src='scripts/data/content.en.js')
  // endbuild