section.page#home
  include ./en/home.jade
section.page#about
  include ./en/about.jade
section.page#survey
  include ./en/survey.jade
section.page#culture
  include ./en/culture.jade
section.page#team
  include ./en/team.jade
section.page#honor
  include ./en/honor.jade
section.page#media
  include ./en/media.jade
section.page#research
  include ./en/research.jade
section.page#recruit
  include ./en/recruit.jade
section.page#contact
  include ./en/contact.jade
section.page#case