section.page#home
  include ./tw/home.jade
section.page#about
  include ./tw/about.jade
section.page#survey
  include ./tw/survey.jade
section.page#culture
  include ./tw/culture.jade
section.page#team
  include ./tw/team.jade
section.page#honor
  include ./tw/honor.jade
section.page#media
  include ./tw/media.jade
section.page#research
  include ./tw/research.jade
section.page#recruit
  include ./tw/recruit.jade
section.page#contact
  include ./tw/contact.jade
section.page#case