section.page#home
  include ./zh/home.jade
section.page#about
  include ./zh/about.jade
section.page#survey
  include ./zh/survey.jade
section.page#culture
  include ./zh/culture.jade
section.page#team
  include ./zh/team.jade
section.page#honor
  include ./zh/honor.jade
section.page#media
  include ./zh/media.jade
section.page#research
  include ./zh/research.jade
section.page#recruit
  include ./zh/recruit.jade
section.page#contact
  include ./zh/contact.jade
section.page#case