h3 聯繫
article
  h4 禾揚建築  hoya taiwan / 禾境室內  hoya interior
  p 高雄市苓雅區新光路38號樓之16樓之1
  p 16F-1, 38 Singuang Rd., Kaohsiung, Taiwan
  p TEL 886 7 2695577   FAX 886 7 2693877
  p E-mail hoya@twhoya.com
  p 聯絡人：鄭純華 秘書
  p Contact Person：Cheng, Chun Hua- administrant secretary
  img.qrcode(src='images/image-loader.gif', title='聯繫', data-src='images/trinket/qr-ct1.png')
article
  h4 上海禾揚  hoya shanghai / 上海禾境
  p 中國上海市長寧區茅台路1068號721室，郵編：200336
  p Suite 721, 1068 Maotai Rd., Shanghai, China
  p TEL 86 21 54223372   FAX 86 21 54223428
  p E-mail hoya@cnhoya.com
  p 聯絡人：鄭晨 秘書
  p Contact Person：Chen, Zheng- secretary
  img.qrcode(src='images/image-loader.gif', title='聯繫', data-src='images/trinket/qr-ct2.png')
article
  h4 禾揚台北聯絡處 hoya taipei
  p 台北市松山區民權東路三段166號11樓
  p 11F, 166, Sec 3, Minquan E. Rd., Taipei, Taiwan
  p TEL 886 2 25452236   FAX 886 2 25452280
  p E-mail hoya@twhoya.com
  p 聯絡人：彭信蒼 建築師
  p Contact Person：Peng, Hsin Tsang- architect
  img.qrcode(src='images/image-loader.gif', title='聯繫', data-src='images/trinket/qr-ct3.png')
