h3 文化
article
  h4 至人無法 非無法也 無法而法 乃為至法
  p 石濤 (1642-1718) 《畫語錄》
  p 「設計」應該是不受既成模式所約束的自由創作活動，但又能合乎法則，此種自由與法則的協調互動應是設計創意的極至境界。
  p 「建築設計在於「過程」，是一種在心智上對機能、空間、形體、地域、技術工具及營造法則的綜合理解，與操作。
  p 在環境給予的限制條件下，呈現建築本身的張力與包容性；在眾聲喧嘩的現代和陳跡之間，彰顯空間本質的純粹與雋永，並對使用者及當地形成意義；這正是建築師的想望。
  p 「禾揚建築團隊，多年來持續以「Make a difference」的思維，開展了多樣的建築類型探索，繼以累積慎密激盪、協力操作的良好默契。
  p 我們的服務「不只是設計」，以熟悉客戶需求及設計條件為基礎，建構不同設計專業的分工協作平台，形成緊密的設計聯網，尋求最適切的解決方案，提出厚實且多元的設計成果。
  p 「更多的設計實踐、更美的空間品質、更好的建築環境、更誠的客戶服務，是禾揚建築團隊持續努力和精煉的目標。
  br
  br
