h3 榮譽
article
  h4 2014
  dl
    dt 鴻海集團研發育成大樓及資料中心
    dd 第一屆2014年高雄市新建建築物工程品質金質獎：金質獎
  dl
    dt 佛光山惠中寺新建工程
    dd 邀請競圖第三名
  dl
    dt 統一昆山開發項目 (第一期建築設計作業)
    dd 邀請競標得標
  h4 2013
  dl
    dt 福建光電職業技術學院
    dd 香港建築師學會兩岸四地建築設計論壇及大獎2013
  h4 2012
  dl
    dt 財團法人高雄美國學校校園整體規劃暨校舍新建工程
    dd 邀請競圖第二名
  dl
    dt 樹德科技大學樹德文薈館新建工程
    dd 邀請競圖第三名
  h4 2010
  dl
    dt 高雄世界貿易展覽會議中心統包工程
    dd 統包評選第三名
  h4 2009
  dl
    dt Ching Fu Shipbuilding
    dd RIBA International Awards 2009，英國皇家建築學會國際獎
    dl
      dt 六堆客家文化園區
      dd 2009建築園冶獎，屏東地區公共景觀設計獎
      dl
        dt O5R10 (美麗島) 車站
        dd 2009建築園冶獎，高雄地區特別獎
  h4 2008
  dl
    dt Dream Mall-Kaohsiung
    dd Gold Nugget Awards，2008 Grand Award best in the west，In Recognition of Excellence and Value，Best International Commercial / Retail Project
  dl
    dt 統一夢時代購物中心
    dd 中華民國第一屆都市設計大獎 民間開發空間設計類優選
  dl
    dt 慶富集團營運總部大樓
    dd 中華民國第一屆都市設計大獎 入選決賽
  dl
    dt 統一夢時代購物中心
    dd 第三屆高雄市都市設計景觀評選 優質大樓組優選作品
  h4 2006
  dl
    dt 高雄港區1-22號碼頭水岸改造策略規劃
    dd 國際徵選 佳作
  h4 2005
  dl
    dt 東光國小社區通學道
    dd 東光國小感謝狀
  h4 2003
  dl
    dt 高雄市臨港線鐵路客運列車站體新光站及周邊配合建工程
    dd 第一屆高雄市優良都市設計景觀評選大獎 優良作品
