h3 媒體
article

  h4 2013
  dl
    dt 江蘇科學技術出版社 《2012-2013中國建築設計作品年鑒》(上冊)
    dd
      p〈鴻海高雄研發育成大樓及資料中心〉
      p〈農科園區外銷觀賞魚及水產種苗產銷營運區標準廠房〉
      p〈義大古堡酒店〉
      p〈義大皇家劇院〉
      p〈義大世界123廣場〉
      p〈義大世界伯爵特區〉
      p〈慶富漳州光電學院一期〉
      p〈統正二期開發規劃設計〉
      p〈福建平潭綜合開發項目〉
      p〈桂田酒店三館〉
      p〈桂田花園宴會廳〉  
      span pp.282-289

  h4 2013
  dl
    dt 建築師雜誌社 《建築師》2013年2月 (458期)
    dd
      p〈農科園區產銷營運暨研發物流中心〉 
      span pp.74-80

  h4 2012
  dl
    dt 高雄市建築師公會 《建國百年，高雄建築師作品年鑑》
    dd
      p〈義大皇家劇院〉
      p〈國立潮州高級中學明德樓〉
      p〈海門市國稅局數據處理中心〉
      span pp.28-33

  h4 2010
  dl
    dt Fiell Publishing Limited 《Richard Rogers+Architects  From the house to the city》
    dd
      p〈Ching Fu Group Headquarters〉 
      span pp.240-241

  h4 2009
  dl
    dt 高雄市建築經營協會 《2009建築園冶獎》
    dd
      p〈高雄捷運O5R10車站〉 
      span pp.198-201

  h4 2009
  dl
    dt 高雄市建築經營協會 《2009建築園冶獎》
    dd
      p〈六堆客家文化園區〉  
      span pp.62-65

  h4 2009
  dl
    dt 建築師雜誌社 《建築師》2009年6月 (414期)
    dd
      p〈高雄捷運O5/R10美麗島站〉  
      span pp.68-73

  h4 2009
  dl
    dt 建築雜誌社 《建築 Dialogue》2009年5/6月 (134期)
    dd
      p〈高雄捷運美麗島站 O5/R10〉 
      span pp.82-91

  h4 2009
  dl
    dt 高雄市建築師公會 《2008高雄建築師作品年鑑》
    dd
      p〈慶富集團營運總部大樓建築設計〉
      p〈蓮潭國際文教會館增改建工程建築設計〉
      p〈樹德科技大學行政大樓暨禮堂建築設計〉
      p〈昆山裕元花園酒店〉
      p〈越南北寧CASINO飯店〉
      p〈觀音山城傳奇建築設計〉
      span pp.18-29

  h4 2008
  dl
    dt 建築師雜誌社 《建築師》2008年12月 (408期)
    dd
      p〈蓮潭國際文教會館增改建〉
      span pp.50-57

  h4 2008
  dl
    dt 建築師雜誌社 《建築師》2008年1月 (397期)
    dd
      p〈慶富集團營運總部大樓〉
      span pp.80-85

  h4 2007
  dl
    dt 建築師雜誌社 《建築師》2007年8月 (392期)
    dd
      p〈樹德科技大學行政大樓暨禮堂〉
      span pp.80-87

  h4 2007
  dl
    dt 建築師雜誌社 《建築師》2007年5月 (389期)
    dd
      p〈統一夢時代購物中心〉
      span pp.44-51

  h4 2006
  dl
    dt 台灣建築報導雜誌社  《2006台灣景觀作品集》
    dd
      p〈海光三村公園地景保育再生利用工程〉
      span pp.86-93

  h4 2006
  dl
    dt 建築師雜誌社 《住宅經典》特刊
    dd
      p〈同盟大樓〉
      span pp.160-165

  h4 2006
  dl
    dt 台灣建築報導雜誌社  《台灣建築》2006年11月 (134期)
    dd
      p〈衝突與合作，看台灣建築設計界的內外共生〉
      span pp.108-109

  h4 2006
  dl
    dt 建築師雜誌社 《建築師》2006年4月 (376期)，繪圖板
    dd
      p〈慶富集團營運總部大樓〉
      span pp.74-75

  h4 2006
  dl
    dt 高雄市建築師公會 《高雄建築師年鑑．2005．高雄》
    dd
      p〈漢泰普羅旺詩〉
      p〈漢泰巷樹二期〉
      p〈上海瑩輝照明應用中心〉
      p〈高雄市同盟大樓集合住宅新建工程〉
      p〈高雄市哨船頭壹號船渠餐飲設施新建工程〉
      span pp.18-29

  h4 2005
  dl
    dt 高市府工務局 《陽光城市通學趣　高雄市社區通學道系列工程(94年度)》(S.H.E.城市綠色協奏輯刊)
    dd
      p〈東光國小東光步道　藝術與生態共譜的合諧樂章〉
      span pp.20-23

  h4 2005
  dl
    dt 高雄市立美術館  《高雄建築三百年》
    dd
      p〈高雄市臨港線鐵路客運列車站體－新光站〉
      span pp.210-215

  h4 2005
  dl
    dt 台灣建築報導雜誌社  《驃騎出獵。放眼中國　台灣空間設計師兩岸作品報導》
    dd
      p〈禾揚聯合建築師事務所 / 禾揚建築諮詢有限公司〉
      span pp.186-207

  h4 2005
  dl
    dt 台灣建築報導雜誌社  《2005台灣景觀作品集》
    dd
      p〈金酒公司金寧廠區景觀一期〉
      span pp.122-127

  h4 2005
  dl
    dt 台灣建築報導雜誌社  《台灣建築》2005年6月 (117期)
    dd
      p〈上海瑩輝照明應用中心〉
      span pp.98-99

  h4 2005
  dl
    dt 高雄市政府新聞處 《高雄畫刊》2005年6月 (NO.2)
    dd
      p〈讓全世界都看見　新光碼頭　驚艷豋場〉
      span pp.10-11

  h4 2005
  dl
    dt 建築師雜誌社 《建築師》2005年4月 (364期)
    dd
      p〈同盟大樓〉
      span pp.58-59

  h4 2005
  dl
    dt 建築師雜誌社  《建築師》2005年4月 (364期)
    dd
      p〈高雄市臨港線輕軌列車站暨渡輪站〉
      span pp.60-61

  h4 2005
  dl
    dt 台灣建築報導雜誌社 《台灣建築》2005年2月 (113期)
    dd
      p〈禾揚聯合建築師事務所〉
      span pp.124-125

  h4 2004
  dl
    dt 台灣建築報導雜誌社 《2004台灣景觀作品集》
    dd
      p〈臨港線輕軌列車站體暨渡輪站體工程〉
      span pp.106-113

  h4 2004
  dl
    dt 台灣建築報導雜誌社 《台灣建築》2004年6月 (105期)
    dd
      p〈臨港線輕軌列車站體暨渡輪站體工程〉
      span pp.60-65

  h4 2003
  dl
    dt 高雄市建築師公會  《2003建築師作品集》
    dd
      p〈高雄市臨港線鐵路客運列車站體新光站〉
      p〈豐國暨慶富造船管理中心〉
      p〈濱川企業行政大樓改建工程〉
      span pp.70-75

  h4 2003
  dl
    dt 台灣省建築師公會台南縣辦事處  《2003建築師作品專輯》
    dd
      p〈夏雯霖建築師事務所〉
      span pp.87-90

  h4 2003
  dl
    dt 台灣建築報導雜誌社 《台灣建築》2003年5月 (92期)
    dd
      p〈慶富造船管理中心〉
      span pp.34-41

  h4 2002
  dl
    dt 建築雜誌社 《建築 Dialogue》2002年11月 (64期)
    dd
      p〈創造現代的傳說－風與影的對話〉
      span pp.82-91
