h3 招聘
p 本所長期誠聘對建築及設計具有熱情之專業人才：
table.responsive
  tr
    td 人力需求
    td 建築設計
    td 建築繪圖
    td 室內設計
    td 效果圖設計
    td 工務監造
  tr
    td 高雄
    td ●
    td ●
    td ●
    td  
    td ●
  tr
    td 上海
    td ●
    td ●
    td  
    td ●
    td  
p 請提供您的簡歷及作品，並與本所各地辦公室聯繫！
