h3 研究
table.responsive
  thead
    tr
      th 案名
      th 執行期間
      th 委託單位
      th 受託單位
      th 禾揚服務範圍
      th 計畫主持人
  tbody
    tr
      td 大高雄俯瞰式觀光設施可行性評估計畫
      td 2014 -
      td 高雄市政府觀光局
      td 城都國際開發規劃管理顧問有限公司
      td 景觀設計顧問
      td 徐弘宇
    tr
      td 大臺中地區纜車促參前置作業規劃委託技術服務案
      td 2012 -
      td 台中市政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 新竹市第十七、十八、十九村R1住宅區及商業區都市更新事業計畫、權利變換計畫及招商作業
      td 2012 / 2012
      td 新竹市政府
      td 城都國際開發規劃管理顧問有限公司
      td 建築設計顧問
      td 徐弘宇
    tr
      td 向山至車埕纜車系統招商前置作業
      td 2012 / 2012
      td 交通部觀光局日月潭國家風景區管理處
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 金門大武山區設置纜車系統可行性及民間參與投資可行性評估
      td 2011 / 2013
      td 金門縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 大台中地區纜車興建可行性評估及先期規劃案
      td 2011 / 2012
      td 台中市政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 新竹市18尖山至青草湖纜車系統BOT可行性評估計畫
      td 2010 / 2011
      td 新竹市政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 南投縣清境至春陽地區纜車系統民間參與可行性評估計畫
      td 2010 / 2011
      td 南投縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 桃園縣石門水庫至慈湖纜車BOT案前置規劃作業計畫
      td 2009 / 2011
      td 桃園縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 南投縣信義鄉新中橫地區纜車系統建置民間參與可行性評估計畫
      td 2009 / 2011
      td 南投縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 向山地區交通配套措施整體規劃案
      td 2009 / 2009
      td 交通部觀光局日月潭國家風景區管理處
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 南投縣仁愛鄉高山地區纜車系統發展計畫先期規劃與招商服務案
      td 2009 / 2009
      td 南投縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 桃園縣大溪復興地區纜車發展可行性評估
      td 2008 / 2010
      td 桃園縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 日月潭向山車埕纜車系統先期計畫檢討暨調整規劃案
      td 2008 / 2008
      td 交通部觀光局日月潭國家風景區管理處
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 高雄市區台鐵鐵路地下化新增捷運站區周邊都市更新策略計畫案
      td 2008 / 2009
      td 高雄市政府都市發展局
      td 城都國際開發規劃管理顧問有限公司
      td 基地規劃顧問
      td 徐弘宇
    tr
      td 高速鐵路及國道六號通車後對日月潭國家風景區交通運輸衝擊評估及因應對策研究案
      td 2007 / 2008
      td 交通部觀光局日月潭國家風景區管理處
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 捷運O5、R10車站週邊大港埔、大統商圈地區更新規劃案
      td 2007 / 2008
      td 高雄市政府都市發展局
      td 城都國際開發規劃管理顧問有限公司
      td 都市設計顧問
      td 徐弘宇
    tr
      td 南投縣仁愛鄉高山地區纜車系統發展計畫可行性評估
      td 2006 / 2007
      td 南投縣政府
      td 展群工程顧問股份有限公司
      td 建築及景觀顧問
      td 彭增光
    tr
      td 高鐵左營站至2009世運會會場間興建纜車可行性研究
      td 2006 / 2007
      td 交通部高速鐵路工程局
      td 許銘陽建築師事務所
      td 計畫總顧問
      td 許銘陽
    tr
      td 台南縣政府國民中小學老舊校舍整建計畫建築物耐震能力詳細評估暨補強方案第2區 (大甲國民小學東棟)
      td 2006 / 2007
      td 台南縣政府教育局
      td 台灣省建築師公會台南縣辦事處
      td 計畫執行
      td 夏雯霖+黃建盛
    tr
      td 台南縣政府國民中小學老舊校舍整建計畫建築物耐震能力詳細評估暨補強方案第2區 (楠西國民中學後棟)
      td 2006 / 2007
      td 台南縣政府教育局
      td 台灣省建築師公會台南縣辦事處
      td 計畫執行
      td 夏雯霖+黃建盛
    tr
      td 高雄市美麗島大道及博愛世運大道兩側地區都市設計規劃案
      td 2006 / 2006
      td 高雄市政府都市發展局
      td 高雄市建築師公會
      td 計畫執行
      td 麥仁華
    tr
      td 94年度「台南縣」建築物耐震能力詳細評估工作 (台南縣消防局大隊部第二大隊)
      td 2005 / 2006
      td 台南縣政府
      td 台灣省建築師公會台南縣辦事處
      td 計畫執行
      td 夏雯霖+黃建盛
    tr
      td 93年度「台南縣」建築物耐震能力詳細評估工作 (潭頂派出所)
      td 2004 / 2005
      td 台南縣政府
      td 台灣省建築師公會台南縣辦事處
      td 計畫執行
      td 夏雯霖+黃建盛
    tr
      td 國家遠洋漁業文化園區景觀整合綱要規劃
      td 2003 / 2004
      td 高雄市政府都市發展局
      td 許銘陽建築師事務所
      td 計畫總顧問
      td 許銘陽
    tr
      td 高雄河港觀光轉運系統旅遊線計劃民間參與公共建設開發投資計劃書
      td 2003 / 2005
      td 偉日豐觀光科技發展股份有限公司
      td 禾揚聯合建築師事務所
      td 建築顧問
      td
    tr
      td 電信技術中心設置高雄市建議計劃書
      td 2003 / 2003
      td 高雄市政府
      td 夏雯霖建築師事務所
      td 計畫總顧問
      td 許銘陽+夏雯霖
    tr
      td 高雄縣勞工育樂中心周邊生態工法及營運管理計畫
      td 2001 / 2002
      td 高雄縣政府
      td 夏雯霖建築師事務所
      td 計畫總顧問
      td 夏雯霖
