
h3 概况
article
  h4 2014
  p 禾揚上海茅台路辦公室擴大及改裝。
  p 2014年建築園冶獎 - 城市邂逅建築美學 ‧ 駁二建築特展參展。
  p 禾揚上海公司舉辦員工旅遊：日本東京七日。
  p 禾境建築設計諮詢 ( 上海 ) 有限公司註冊成立，負責人為夏雯霖。
  p 鄭純華成為禾揚建築associates。
article
  h4 2013
  p 禾境室內裝修設計工程有限公司註冊成立，負責人為劉湘梅。
  p 舉辦員工旅遊：金門三日。
article
  h4 2012
  p 舉辦員工旅遊：義大利十日，並參訪威尼斯建築雙年展。
  p 暫停禾揚越南公司運營。
article
  h4 2011
  p 舉辦禾揚建築十週年慶活動。
  p 禾揚建築重整，劉湘梅、趙文紳、黃建盛加入禾揚建築執行股東。
article
  h4 2010
  p 禾揚上海公司搬遷至上海市長寧區茅台路1068號721室 （天祥大廈現址）。
  p 舉辦員工旅遊：日本東京、箱根五日。
  p 中原建築五十週年展參展
  p 禾揚越南公司註冊成立，辦公室設於河內市紙橋郡紙橋新都市區。
  p 黃建盛、丁沛緹、陳博胤成為禾揚建築associates。
  p 禾揚建築重整，黃茂良結束禾揚建築執行股東。
article
  h4 2009
  p 禾揚上海公司結束在南京東南聯合工程設計有限公司的運營。
article
  h4 2008
  p 禾揚上海公司與東風設計研究院合作運營南京東南聯合工程設計有限公司，許銘陽任執行副董事長，夏雯霖、朱家德任副總經理。
  p 禾揚建築設計諮詢（上海）有限公司註冊成立，負責人為許銘陽。
  p 參訪越南總理府及河內市政府。
  p 參訪新加坡SCDA及WOHA建築師事務所。
article
  h4 2007
  p 禾揚海外公司 Hoya Architects and Associates Co., Ltd，British Virgin Islands 註冊成立，負責人為夏雯霖。
  p 結束蘇州博揚工程諮詢有限公司。
  p 舉辦國內旅遊：高雄寶來二日。
  p 結束參與禾揚建設諮詢（上海）有限公司股東成員。
  p 劉湘梅、趙文紳、顏沛涵、廖雪杏成為禾揚建築associates。
article
  h4 2006
  p 舉辦國外旅遊：泰國五日。
  p 參訪日本大阪、東京及cdi設計事務所。
  p 參訪英國Richard Rogers Partners (RRP，現已重組為RSH-P)、倫敦、荷蘭。
  p 加入參與禾揚建設諮詢 (上海) 有限公司股東成員。
  p 禾揚上海公司搬遷至上海市閔行區吳中路1199號810室 （世貿商城）。
article
  h4 2005
  p 舉辦國外旅遊：日本北海道五日。
  p 台灣省建築師公會台南縣辦事處建築暨藝術創作聯展參展。
  p 禾揚建築搬遷至高雄市新光路38號16樓之1 (亞太財經廣場現址)。
  p 深圳東禾建築規劃諮詢有限公司註冊成立。
  p 蘇州博揚工程諮詢有限公司註冊成立。
article
  h4 2004
  p 舉辦國內旅遊：台東知本二日。
  p 華範建築事務所更名為禾揚聯合建築師事務所，執行股東成員不變。
  p 舉辦國外旅遊：韓國漢城、雪嶽山五日。
article
  h4 2002
  p 華範建築重整，王家祥結束華範建築執行股東。
article
  h4 2001
  p 華範建築事務所於重整，以許銘陽、黃茂良、夏雯霖、王家祥為創始執行股東，所址設於台灣高雄市大順三路93號5樓之4 （大順工商大樓）。
  p 常熟禾揚建築諮詢有限公司註冊成立，辦公室初設於常熟，隨後搬遷辦事處至上海仙霞路鑫達大廈。
