h3 團隊
ul.names
  li.active
    a(href='#m1') 許銘陽
  li
    a(href='#m2') 夏雯霖
  li
    a(href='#m3') 劉湘梅
  li
    a(href='#m4') 趙文紳
  li
    a(href='#m5') 黃建盛

article#m1.active

  h4 職務
  p 執行股東、主持建築師、代表人
  p 許銘陽建築師事務所負責人

  h4 學歷
  p 美國哈佛大學 設計暨房地產開發碩士
  p 美國康乃爾大學 建築碩士
  p 台灣中原大學 建築學士

  h4 經歷
  p 高雄市建築師公會學術委員 (第10屆)
  p 高雄市建築師公會公共事務委員 (第12屆)
  p 2010- 越南禾揚建築設計公司總經理
  p 2008- 禾揚建築設計諮詢(上海)有限公司總經理
  p 2008-2009 南京東南聯合工程設計有限公司執行副董事長
  p 2004-2005 國立鳳山高級中學綜合大樓籌建委員會委員
  p 2004 高雄市建築師公會社區建築師 (三民區)
  p 2003-2004 東南水泥股份有限公司開發顧問
  p 1999-2000 高苑技術學院建築系兼任講師
  p 1998-1999 樹德科技大學室內設計系兼任講師
  p 1998 台北市政府工務局建築管理處
  p 1997-2004 統立開發股份有限公司專案建築師、顧問
  p 1996 美國康乃爾大學建築系助教
  p 1991-1993 台北大宇建築師事務所專案設計師

  h4 專業
  p 公務人員高等考試及格 （八七高公字第836號）
  p 專技高考建築師及格 (87專高字第707號)
  p 建築師證書 (建證字第4132號)
  p 註冊建築師 (高建開證第303號)
  p 台灣省建築師公會會員 (台建師員字第3232號)
  p 台北市建築師公會會員 (北師字第2612號)
  p 高雄市建築師公會會員 (高建師員字第1231號)
  p APEC Architect Register (Certificate No.CT / 00089)
  p 建築物公共安全檢查專業檢查人 (認可證字號97D0141320)
  p 建築物室內裝修專業技術人員 (內營室技字第40E1009227號)
  p 消防安全設備設計監造暫行執業 (消暫證字第950215號)
  p 公共建築物設置身心障礙者行動與使用之設施及設備勘驗人員 (內營無障礙字第0578號)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/1.jpg')

article#m2

  h4 職務
  p 執行股東、主持建築師
  p 夏雯霖建築師事務所負責人

  h4 學歷
  p 台灣成功大學 建築碩士
  p 台灣淡江大學 建築學系 台灣大學EMBA 101A商學組

  h4 經歷
  p 高雄市建築師公會公共事務委員 (第11屆)
  p 2014- 禾揚建築設計諮詢 (上海) 有限公司負責人
  p 2010 樹德科技大學建築與環境設計系兼任講師
  p 2008-2009 南京東南聯合工程設計有限公司副總經理
  p 2004 高雄市建築師公會社區建築師 (三民區)
  p 2001-2004 樹德科技大學建築暨古蹟維護系兼任講師
  p 1994-2000 高雄新建築事務所建築師
  p 1994 成大建築系C+A研究室研究助理
  p 1992-1993 台南林全成建築師事務所設計師
  p 1991-1992 台北丁茂盛建築師事務所設計師

  h4 專業
  p 專技高考建築師及格 (84專高字第692號)
  p 建築師證書 (建證字第3859號)
  p 註冊建築師 (建開證第1953號)
  p 台灣省建築師公會會員 (台建師員字第3138號)
  p 台南縣建築師公會會員 (會員證號062)
  p 高雄市建築師公會會員 (高建師員字第1205號)
  p 福建金門馬祖地區建築師公會會員 (會員證號:0219)
  p 建築物公共安全檢查專業檢查人 (認可證字號98A0121941)
  p 建築物室內裝修專業技術人員 (內營室技字第40E1004831號)
  p 消防安全設備設計監造暫行執業 (消暫證字第884034號)
  p 公共建築物設置身心障礙者行動與使用之設施及設備勘驗人員 (內營無障礙字第2059號)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/2.jpg')

article#m3

  h4 職務
  p 執行股東、專案建築師
  p 劉湘梅建築師事務所負責人

  h4 學歷
  p 美國康乃爾大學 建築碩士
  p 台灣中原大學 建築學士

  h4 經歷
  p 2013- 禾境室內裝修設計工程有限公司負責人
  p 2009- 正修科技大學建築系兼任講師
  p 2005-2006 樹德科技大學建築暨古蹟維護系兼任講師
  p 2004 高雄市建築師公會社區建築師 (三民區)
  p 1998-1999 樹德科技大學室內設計系兼任講師
  p 1998-2000 高雄新瑞都開發股份有限公司營業處副理
  p 1997-1998 高雄施邦興建築師事務所主任建築師
  p 1993-1994 台北太平洋房屋股份有限公司規劃設計師
  p 1990-1993 台北大宇建築師事務所設計師
  p 1988-1989 台北沈祖海建築師事務所助理設計師

  h4 專業
  p 專技高考建築師及格 (86專高字第517號)
  p 建築師證書 (建證字第4047號)
  p 註冊建築師 (高建開證第303號)
  p 高雄市建築師公會會員 (高建師員字第1179號)
  p 建築物公共安全檢查專業檢查人 (認可證字號97D0140470)
  p 建築物室內裝修專業技術人員 (內營室技字第40E1109226號)
  p 公共建築物設置身心障礙者行動與使用之設施及設備勘驗人員 (內營無障礙字第0579號)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/3.jpg')

article#m4

  h4 職務
  p 執行股東、專案建築師
  p 趙文紳建築師事務所負責人

  h4 學歷
  p 台灣成功大學 建築碩士
  p 台灣成功大學 建築學士

  h4 經歷
  p 2005-2006 台南縣政府城鄉發展局
  p 2003-2004 樹德科技大學建築暨古蹟維護系兼任講師
  p 2000 太序建築事務所設計師
  p 1999 新建築事務所設計師

  h4 專業
  p 專技高考建築師及格 (91專高字第9519號)
  p 建築師證書 (建證字第4864號)
  p 註冊建築師 (高建開證第C000371號)
  p 台灣省建築師公會會員 (台建師員字第3917號)
  p 高雄市建築師公會會員 (高建師員字第1478號)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/4.jpg')

article#m5

  h4 職務
  p 執行股東、上海禾揚建築設計總監

  h4 學歷
  p 台灣東海大學 建築碩士
  p 台灣高苑科技大學 建築學士

  h4 經歷
  p 2010- 禾揚建築設計 (上海) 有限公司設計總監
  p 2008-2009 南京東南聯合工程設計有限公司專案設計師
  p 2007-2008 禾揚建築設計 (上海) 有限公司專案設計師
  p 2004 台北張義震建築師事務所專案經理
  p 2004 台中酒廠現場建築群調查測繪研究
  p 2003 彰化縣「鹿港丁宅」修護工程工事記錄
  p 2003 歷史建築台中州廳及台中市役所保存修復之調查研究、修復、再利用規劃
  p 2002 鹿港龍山寺「古蹟修復之解體調查及工事記錄」研究
  p 2000 台南黃志瑞建築師事務所設計師
  p 1997 台南陳冠州建築師事務所設計師
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/5.jpg')
