/* hide text */
.txhide { overflow: hidden; text-indent: 100%; white-space: nowrap; }


.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after { clear:both; }
.cf { *zoom:1; }

.dn {
  display: none !important;
}

.tu {
  text-decoration: underline;
}

/* loading */
.loading {
  position: absolute;
  background: url(../images/trinket/loading.gif);
  bottom: 60px;
  right: 40px;
  z-index: 10;
  width: 200px;
  height: 23px;
}

.loading_shade {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

.scale_small {
  -moz-transform: scale(.75);
  -webkit-transform: scale(.75);
  -o-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75);
}

.scale_mid {
  -moz-transform: scale(.88);
  -webkit-transform: scale(.88);
  -o-transform: scale(.88);
  -ms-transform: scale(.88);
  transform: scale(.88);
}