table.tetris
  tr
    td.empty
    td
      a(href='#survey') 概况
    td.empty
    td.empty
  tr
    td
      a(href='#culture') 文化
    td
      a(href='#team') 团队
    td
      a(href='#honor') 荣誉
    td.empty
  tr
    td
      a(href='#media') 媒体
    td
      a(href='#research') 研究
    td
      a(href='#recruit') 招聘
    td
      a(href='#contact') 联系
