h3 联系
article
  h4 禾扬建筑  hoya taiwan / 禾境室内  hoya interior
  p 高雄市苓雅区新光路38号楼之16楼之1
  p 16F-1, 38 Singuang Rd., Kaohsiung, Taiwan
  p TEL 886 7 2695577   FAX 886 7 2693877
  p E-mail hoya@twhoya.com
  p 联络人：郑纯华 秘书
  p Contact Person：Cheng, Chun Hua- administrant secretary
  img.qrcode(src='images/image-loader.gif', title='联系', data-src='images/trinket/qr-ct1.png')
article
  h4 上海禾扬  hoya shanghai / 上海禾境
  p 中国上海市长宁区茅台路1068号721室，邮编：200336
  p Suite 721, 1068 Maotai Rd., Shanghai, China
  p TEL 86 21 54223372   FAX 86 21 54223428
  p E-mail hoya@cnhoya.com
  p 联络人：郑晨 秘书
  p Contact Person：Chen, Zheng- secretary
  img.qrcode(src='images/image-loader.gif', title='联系', data-src='images/trinket/qr-ct2.png')
article
  h4 禾扬台北联络处 hoya taipei
  p 台北市松山区民权东路三段166号11楼
  p 11F, 166, Sec 3, Minquan E. Rd., Taipei, Taiwan
  p TEL 886 2 25452236   FAX 886 2 25452280
  p E-mail hoya@twhoya.com
  p 联络人：彭信苍 建筑师
  p Contact Person：Peng, Hsin Tsang- architect
  img.qrcode(src='images/image-loader.gif', title='联系', data-src='images/trinket/qr-ct3.png')
