h3 文化
article
  h4 至人无法 非无法也 无法而法 乃为至法
  p 石涛 (1642-1718) 《画语录》
  p 「设计」应该是不受既成模式所约束的自由创作活动，但又能合乎法则，此种自由与法则的协调互动应是设计创意的极至境界。
  p 「建筑设计在于「过程」，是一种在心智上对机能、空间、形体、地域、技术工具及营造法则的综合理解，与操作。
  p 在环境给予的限制条件下，呈现建筑本身的张力与包容性；在众声喧哗的现代和陈迹之间，彰显空间本质的纯粹与隽永，并对使用者及当地形成意义；这正是建筑师的想望。
  p 「禾扬建筑团队，多年来持续以「Make a difference」的思维，开展了多样的建筑类型探索，继以累积慎密激盪、协力操作的良好默契。
  p 我们的服务「不只是设计」，以熟悉客户需求及设计条件为基础，建构不同设计专业的分工协作平台，形成紧密的设计联网，寻求最适切的解决方案，提出厚实且多元的设计成果。
  p 「更多的设计实践、更美的空间品质、更好的建筑环境、更诚的客户服务，是禾扬建筑团队持续努力和精炼的目标。
  br
  br
