nav.category
  ul
    li.item
      a(href='#year_list') 年份
      ul#year_list
        li(data-year='2014') 2014
        li(data-year='2013') 2013
        li(data-year='2012') 2012
        li(data-year='2011') 2011
        li(data-year='2010') 2010
        li(data-year='2009') 2009
        li(data-year='2008') 2008
        li(data-year='2007') 2007
        li(data-year='2006') 2006
        li(data-year='2005') 2005
        li(data-year='2004') 2004
        li(data-year='2003') 2003
        li(data-year='2002') 2002
        li(data-year='2001') 2001
        li(data-year='2000') 2000
    li.item
      a(href='#category_list') 类别
      ul#category_list
        li(data-category='10') 综合规划
        li(data-category='9') 展演文教
        li(data-category='8') 办公科研
        li(data-category='7') 商场酒店
        li(data-category='6') 医疗宗教
        li(data-category='5') 工业厂房
        li(data-category='4') 住宅社区
        li(data-category='2') 环境交通
        li(data-category='0') 禾境室内
    li
      a(href='#about') 关于
#tetris
