h3 荣誉
article
  h4 2014
  dl
    dt 鸿海集团研发育成大楼及资料中心
    dd 第一届2014年高雄市新建建筑物工程品质金质奖：金质奖
  dl
    dt 佛光山惠中寺新建工程
    dd 邀请竞图第三名
  dl
    dt 统一昆山开发项目 (第一期建筑设计作业)
    dd 邀请竞标得标
  h4 2013
  dl
    dt 福建光电职业技术学院
    dd 香港建筑师学会两岸四地建筑设计论坛及大奖2013
  h4 2012
  dl
    dt 财团法人高雄美国学校校园整体规划暨校舍新建工程
    dd 邀请竞图第二名
  dl
    dt 树德科技大学树德文荟馆新建工程
    dd 邀请竞图第三名
  h4 2010
  dl
    dt 高雄世界贸易展览会议中心统包工程
    dd 统包评选第三名
  h4 2009
  dl
    dt Ching Fu Shipbuilding
    dd RIBA International Awards 2009，英国皇家建筑学会国际奖
    dl
      dt 六堆客家文化园区
      dd 2009建筑园冶奖，屏东地区公共景观设计奖
    dl
      dt O5R10 (美丽岛) 车站
      dd 2009建筑园冶奖，高雄地区特别奖
  h4 2008
  dl
    dt Dream Mall-Kaohsiung
    dd Gold Nugget Awards，2008 Grand Award best in the west，In Recognition of Excellence and Value，Best International Commercial / Retail Project
  dl
    dt 统一梦时代购物中心
    dd 中华民国第一届都市设计大奖 民间开发空间设计类优选
  dl
    dt 庆富集团营运总部大楼
    dd 中华民国第一届都市设计大奖 入选决赛
  dl
    dt 统一梦时代购物中心
    dd 第三届高雄市都市设计景观评选 优质大楼组优选作品
  h4 2006
  dl
    dt 高雄港区1-22号码头水岸改造策略规划
    dd 国际徵选 佳作
  h4 2005
  dl
    dt 东光国小社区通学道
    dd 东光国小感谢状
  h4 2003
  dl
    dt 高雄市临港线铁路客运列车站体新光站及周边配合建工程
    dd 第一届高雄市优良都市设计景观评选大奖 优良作品
