h3 媒体
article
  h4 2013
  dl
    dt 江苏科学技术出版社 《2012-2013中国建筑设计作品年鉴》(上册)
    dd
      〈鸿海高雄研发育成大楼及资料中心〉
      br
      〈农科园区外销观赏鱼及水产种苗产销营运区标准厂房〉
      br
      〈义大古堡酒店〉
      br
      〈义大皇家剧院〉
      br
      〈义大世界123广场〉
      br
      〈义大世界伯爵特区〉
      br
      〈庆富漳州光电学院一期〉
      br
      〈统正二期开发规划设计〉
      br
      〈福建平潭综合开发项目〉
      br
      〈桂田酒店三馆〉
      br
      〈桂田花园宴会厅〉  
      br
      span pp.282-289
  h4 2013
  dl
    dt 建筑师杂志社 《建筑师》2013年2月 (458期)
    dd
      〈农科园区产销营运暨研发物流中心〉 
      br
      span pp.74-80
  h4 2012
  dl
    dt 高雄市建筑师公会 《建国百年，高雄建筑师作品年鑑》
    dd
      〈义大皇家剧院〉
      br
      〈国立潮州高级中学明德楼〉
      br
      〈海门市国税局数据处理中心〉
      br
      span pp.28-33
  h4 2010
  dl
    dt Fiell Publishing Limited 《Richard Rogers+Architects  From the house to the city》
    dd
      〈Ching Fu Group Headquarters〉 
      br
      span pp.240-241
  h4 2009
  dl
    dt 高雄市建筑经营协会 《2009建筑园冶奖》
    dd
      〈高雄捷运O5R10车站〉 
      br
      span pp.198-201
  h4 2009
  dl
    dt 高雄市建筑经营协会 《2009建筑园冶奖》
    dd
      〈六堆客家文化园区〉  
      br
      span pp.62-65
  h4 2009
  dl
    dt 建筑师杂志社 《建筑师》2009年6月 (414期)
    dd
      〈高雄捷运O5/R10美丽岛站〉  
      br
      span pp.68-73
  h4 2009
  dl
    dt 建筑杂志社 《建筑 Dialogue》2009年5/6月 (134期)
    dd
      〈高雄捷运美丽岛站 O5/R10〉 
      br
      span pp.82-91
  h4 2009
  dl
    dt 高雄市建筑师公会 《2008高雄建筑师作品年鑑》
    dd
      〈庆富集团营运总部大楼建筑设计〉
      br
      〈莲潭国际文教会馆增改建工程建筑设计〉
      br
      〈树德科技大学行政大楼暨礼堂建筑设计〉
      br
      〈昆山裕元花园酒店〉
      br
      〈越南北宁CASINO饭店〉
      br
      〈观音山城传奇建筑设计〉
      br
      span pp.18-29
  h4 2008
  dl
    dt 建筑师杂志社 《建筑师》2008年12月 (408期)
    dd
      〈莲潭国际文教会馆增改建〉
      br
      span pp.50-57
  h4 2008
  dl
    dt 建筑师杂志社 《建筑师》2008年1月 (397期)
    dd
      〈庆富集团营运总部大楼〉
      br
      span pp.80-85
  h4 2007
  dl
    dt 建筑师杂志社 《建筑师》2007年8月 (392期)
    dd
      〈树德科技大学行政大楼暨礼堂〉
      br
      span pp.80-87
  h4 2007
  dl
    dt 建筑师杂志社 《建筑师》2007年5月 (389期)
    dd
      〈统一梦时代购物中心〉
      br
      span pp.44-51
  h4 2006
  dl
    dt 台湾建筑报导杂志社  《2006台湾景观作品集》
    dd
      〈海光三村公园地景保育再生利用工程〉
      br
      span pp.86-93
  h4 2006
  dl
    dt 建筑师杂志社 《住宅经典》特刊
    dd
      〈同盟大楼〉
      br
      span pp.160-165
  h4 2006
  dl
    dt 台湾建筑报导杂志社  《台湾建筑》2006年11月 (134期)
    dd
      〈冲突与合作，看台湾建筑设计界的内外共生〉
      br
      span pp.108-109
  h4 2006
  dl
    dt 建筑师杂志社 《建筑师》2006年4月 (376期)，绘图板
    dd
      〈庆富集团营运总部大楼〉
      br
      span pp.74-75
  h4 2006
  dl
    dt 高雄市建筑师公会 《高雄建筑师年鑑．2005．高雄》
    dd
      〈汉泰普罗旺诗〉
      br
      〈汉泰巷树二期〉
      br
      〈上海莹辉照明应用中心〉
      br
      〈高雄市同盟大楼集合住宅新建工程〉
      br
      〈高雄市哨船头壹号船渠餐饮设施新建工程〉
      br
      span pp.18-29
  h4 2005
  dl
    dt 高市府工务局 《阳光城市通学趣　高雄市社区通学道系列工程(94年度)》(S.H.E.城市绿色协奏辑刊)
    dd
      〈东光国小东光步道　艺术与生态共谱的合谐乐章〉
      br
      span pp.20-23
  h4 2005
  dl
    dt 高雄市立美术馆  《高雄建筑三百年》
    dd
      〈高雄市临港线铁路客运列车站体－新光站〉
      br
      span pp.210-215
  h4 2005
  dl
    dt 台湾建筑报导杂志社  《骠骑出猎。放眼中国　台湾空间设计师两岸作品报导》
    dd
      〈禾扬联合建筑师事务所 / 禾扬建筑咨询有限公司〉
      br
      span pp.186-207
  h4 2005
  dl
    dt 台湾建筑报导杂志社  《2005台湾景观作品集》
    dd
      〈金酒公司金宁厂区景观一期〉
      br
      span pp.122-127
  h4 2005
  dl
    dt 台湾建筑报导杂志社  《台湾建筑》2005年6月 (117期)
    dd
      〈上海莹辉照明应用中心〉
      br
      span pp.98-99
  h4 2005
  dl
    dt 高雄市政府新闻处 《高雄画刊》2005年6月 (NO.2)
    dd
      〈让全世界都看见　新光码头　惊艳豋场〉
      br
      span pp.10-11
  h4 2005
  dl
    dt 建筑师杂志社 《建筑师》2005年4月 (364期)
    dd
      〈同盟大楼〉
      br
      span pp.58-59
  h4 2005
  dl
    dt 建筑师杂志社  《建筑师》2005年4月 (364期)
    dd
      〈高雄市临港线轻轨列车站暨渡轮站〉
      br
      span pp.60-61
  h4 2005
  dl
    dt 台湾建筑报导杂志社 《台湾建筑》2005年2月 (113期)
    dd
      〈禾扬联合建筑师事务所〉
      br
      span pp.124-125
  h4 2004
  dl
    dt 台湾建筑报导杂志社 《2004台湾景观作品集》
    dd
      〈临港线轻轨列车站体暨渡轮站体工程〉
      br
      span pp.106-113
  h4 2004
  dl
    dt 台湾建筑报导杂志社 《台湾建筑》2004年6月 (105期)
    dd
      〈临港线轻轨列车站体暨渡轮站体工程〉
      br
      span pp.60-65
  h4 2003
  dl
    dt 高雄市建筑师公会  《2003建筑师作品集》
    dd
      〈高雄市临港线铁路客运列车站体新光站〉
      br
      〈丰国暨庆富造船管理中心〉
      br
      〈滨川企业行政大楼改建工程〉
      br
      span pp.70-75
  h4 2003
  dl
    dt 台湾省建筑师公会台南县办事处  《2003建筑师作品专辑》
    dd
      〈夏雯霖建筑师事务所〉
      br
      span pp.87-90
  h4 2003
  dl
    dt 台湾建筑报导杂志社 《台湾建筑》2003年5月 (92期)
    dd
      〈庆富造船管理中心〉
      br
      span pp.34-41
  h4 2002
  dl
    dt 建筑杂志社 《建筑 Dialogue》2002年11月 (64期)
    dd
      〈创造现代的传说－风与影的对话〉
      br
      span pp.82-91
