h3 招聘
p 本所长期诚聘对建筑及设计具有热情之专业人才：
table.responsive
  tr
    td 人力需求
    td 建筑设计
    td 建筑绘图
    td 室内设计
    td 效果图设计
    td 工务监造
  tr
    td 高雄
    td ●
    td ●
    td ●
    td  
    td ●
  tr
    td 上海
    td ●
    td ●
    td  
    td ●
    td  
p 请提供您的简历及作品，并与本所各地办公室联系！
