h3 研究
table.responsive
  thead
    tr
      th 案名
      th 执行期间
      th 委托单位
      th 受托单位
      th 禾扬服务范围
      th 计划主持人
  tbody
    tr
      td 大高雄俯瞰式观光设施可行性评估计划
      td 2014 -
      td 高雄市政府观光局
      td 城都国际开发规划管理顾问有限公司
      td 景观设计顾问
      td 徐弘宇
    tr
      td 大台中地区缆车促参前置作业规划委托技术服务案
      td 2012 -
      td 台中市政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 新竹市第十七、十八、十九村R1住宅区及商业区都市更新事业计划、权利变换计划及招商作业
      td 2012 / 2012
      td 新竹市政府
      td 城都国际开发规划管理顾问有限公司
      td 建筑设计顾问
      td 徐弘宇
    tr
      td 向山至车埕缆车系统招商前置作业
      td 2012 / 2012
      td 交通部观光局日月潭国家风景区管理处
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 金门大武山区设置缆车系统可行性及民间参与投资可行性评估
      td 2011 / 2013
      td 金门县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 大台中地区缆车兴建可行性评估及先期规划案
      td 2011 / 2012
      td 台中市政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 新竹市18尖山至青草湖缆车系统BOT可行性评估计划
      td 2010 / 2011
      td 新竹市政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 南投县清境至春阳地区缆车系统民间参与可行性评估计划
      td 2010 / 2011
      td 南投县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 桃园县石门水库至慈湖缆车BOT案前置规划作业计划
      td 2009 / 2011
      td 桃园县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 南投县信义乡新中横地区缆车系统建置民间参与可行性评估计划
      td 2009 / 2011
      td 南投县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 向山地区交通配套措施整体规划案
      td 2009 / 2009
      td 交通部观光局日月潭国家风景区管理处
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 南投县仁爱乡高山地区缆车系统发展计划先期规划与招商服务案
      td 2009 / 2009
      td 南投县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 桃园县大溪复兴地区缆车发展可行性评估
      td 2008 / 2010
      td 桃园县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 日月潭向山车埕缆车系统先期计划检讨暨调整规划案
      td 2008 / 2008
      td 交通部观光局日月潭国家风景区管理处
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 高雄市区台铁铁路地下化新增捷运站区周边都市更新策略计划案
      td 2008 / 2009
      td 高雄市政府都市发展局
      td 城都国际开发规划管理顾问有限公司
      td 基地规划顾问
      td 徐弘宇
    tr
      td 高速铁路及国道六号通车后对日月潭国家风景区交通运输冲击评估及因应对策研究案
      td 2007 / 2008
      td 交通部观光局日月潭国家风景区管理处
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 捷运O5、R10车站週边大港埔、大统商圈地区更新规划案
      td 2007 / 2008
      td 高雄市政府都市发展局
      td 城都国际开发规划管理顾问有限公司
      td 都市设计顾问
      td 徐弘宇
    tr
      td 南投县仁爱乡高山地区缆车系统发展计划可行性评估
      td 2006 / 2007
      td 南投县政府
      td 展群工程顾问股份有限公司
      td 建筑及景观顾问
      td 彭增光
    tr
      td 高铁左营站至2009世运会会场间兴建缆车可行性研究
      td 2006 / 2007
      td 交通部高速铁路工程局
      td 许铭阳建筑师事务所
      td 计划总顾问
      td 许铭阳
    tr
      td 台南县政府国民中小学老旧校舍整建计划建筑物耐震能力详细评估暨补强方案第2区 (大甲国民小学东栋)
      td 2006 / 2007
      td 台南县政府教育局
      td 台湾省建筑师公会台南县办事处
      td 计划执行
      td 夏雯霖+黄建盛
    tr
      td 台南县政府国民中小学老旧校舍整建计划建筑物耐震能力详细评估暨补强方案第2区 (楠西国民中学后栋)
      td 2006 / 2007
      td 台南县政府教育局
      td 台湾省建筑师公会台南县办事处
      td 计划执行
      td 夏雯霖+黄建盛
    tr
      td 高雄市美丽岛大道及博爱世运大道两侧地区都市设计规划案
      td 2006 / 2006
      td 高雄市政府都市发展局
      td 高雄市建筑师公会
      td 计划执行
      td 麦仁华
    tr
      td 94年度「台南县」建筑物耐震能力详细评估工作 (台南县消防局大队部第二大队)
      td 2005 / 2006
      td 台南县政府
      td 台湾省建筑师公会台南县办事处
      td 计划执行
      td 夏雯霖+黄建盛
    tr
      td 93年度「台南县」建筑物耐震能力详细评估工作 (潭顶派出所)
      td 2004 / 2005
      td 台南县政府
      td 台湾省建筑师公会台南县办事处
      td 计划执行
      td 夏雯霖+黄建盛
    tr
      td 国家远洋渔业文化园区景观整合纲要规划
      td 2003 / 2004
      td 高雄市政府都市发展局
      td 许铭阳建筑师事务所
      td 计划总顾问
      td 许铭阳
    tr
      td 高雄河港观光转运系统旅游线计划民间参与公共建设开发投资计划书
      td 2003 / 2005
      td 伟日丰观光科技发展股份有限公司
      td 禾扬联合建筑师事务所
      td 建筑顾问
      td
    tr
      td 电信技术中心设置高雄市建议计划书
      td 2003 / 2003
      td 高雄市政府
      td 夏雯霖建筑师事务所
      td 计划总顾问
      td 许铭阳+夏雯霖
    tr
      td 高雄县劳工育乐中心周边生态工法及营运管理计划
      td 2001 / 2002
      td 高雄县政府
      td 夏雯霖建筑师事务所
      td 计划总顾问
      td 夏雯霖
