h3 概况
article
  h4 2014
  p 禾扬上海茅台路办公室扩大及改装。
  p 2014年建筑园冶奖 - 城市邂逅建筑美学 ‧ 驳二建筑特展参展。
  p 禾扬上海公司举办员工旅游：日本东京七日。
  p 禾境建筑设计咨询 ( 上海 ) 有限公司注册成立，负责人为夏雯霖。
  p 郑纯华成为禾扬建筑associates。
article
  h4 2013
  p 禾境室内装修设计工程有限公司注册成立，负责人为刘湘梅。
  p 举办员工旅游：金门三日。
article
  h4 2012
  p 举办员工旅游：义大利十日，并参访威尼斯建筑双年展。
  p 暂停禾扬越南公司运营。
article
  h4 2011
  p 举办禾扬建筑十週年庆活动。
  p 禾扬建筑重整，刘湘梅、赵文绅、黄建盛加入禾扬建筑执行股东。
article
  h4 2010
  p 禾扬上海公司搬迁至上海市长宁区茅台路1068号721室 （天祥大厦现址）。
  p 举办员工旅游：日本东京、箱根五日。
  p 中原建筑五十週年展参展
  p 禾扬越南公司注册成立，办公室设于河内市纸桥郡纸桥新都市区。
  p 黄建盛、丁沛缇、陈博胤成为禾扬建筑associates。
  p 禾扬建筑重整，黄茂良结束禾扬建筑执行股东。
article
  h4 2009
  p 禾扬上海公司结束在南京东南联合工程设计有限公司的运营。
article
  h4 2008
  p 禾扬上海公司与东风设计研究院合作运营南京东南联合工程设计有限公司，许铭阳任执行副董事长，夏雯霖、朱家德任副总经理。
  p 禾扬建筑设计咨询（上海）有限公司注册成立，负责人为许铭阳。
  p 参访越南总理府及河内市政府。
  p 参访新加坡SCDA及WOHA建筑师事务所。
article
  h4 2007
  p 禾扬海外公司 Hoya Architects and Associates Co., Ltd，British Virgin Islands 注册成立，负责人为夏雯霖。
  p 结束苏州博扬工程咨询有限公司。
  p 举办国内旅游：高雄宝来二日。
  p 结束参与禾扬建设咨询（上海）有限公司股东成员。
  p 刘湘梅、赵文绅、颜沛涵、廖雪杏成为禾扬建筑associates。
article
  h4 2006
  p 举办国外旅游：泰国五日。
  p 参访日本大坂、东京及cdi设计事务所。
  p 参访英国Richard Rogers Partners (RRP，现已重组为RSH-P)、伦敦、荷兰。
  p 加入参与禾扬建设咨询 (上海) 有限公司股东成员。
  p 禾扬上海公司搬迁至上海市闵行区吴中路1199号810室 （世贸商城）。
article
  h4 2005
  p 举办国外旅游：日本北海道五日。
  p 台湾省建筑师公会台南县办事处建筑暨艺术创作联展参展。
  p 禾扬建筑搬迁至高雄市新光路38号16楼之1 (亚太财经广场现址)。
  p 深圳东禾建筑规划咨询有限公司注册成立。
  p 苏州博扬工程咨询有限公司注册成立。
article
  h4 2004
  p 举办国内旅游：台东知本二日。
  p 华范建筑事务所更名为禾扬联合建筑师事务所，执行股东成员不变。
  p 举办国外旅游：韩国汉城、雪岳山五日。
article
  h4 2002
  p 华范建筑重整，王家祥结束华范建筑执行股东。
article
  h4 2001
  p 华范建筑事务所于重整，以许铭阳、黄茂良、夏雯霖、王家祥为创始执行股东，所址设于台湾高雄市大顺三路93号5楼之4 （大顺工商大楼）。
  p 常熟禾扬建筑咨询有限公司注册成立，办公室初设于常熟，随后搬迁办事处至上海仙霞路鑫达大厦。
