h3 团队
ul.names
  li.active
    a(href='#m1') 许铭阳
  li
    a(href='#m2') 夏雯霖
  li
    a(href='#m3') 刘湘梅
  li
    a(href='#m4') 赵文绅
  li
    a(href='#m5') 黄建盛
article#m1.active
  h4 职务
  p 执行股东、主持建筑师、代表人
  p 许铭阳建筑师事务所负责人
  h4 学历
  p 美国哈佛大学 设计暨房地产开发硕士
  p 美国康乃尔大学 建筑硕士
  p 台湾中原大学 建筑学士
  h4 经历
  p 高雄市建筑师公会学术委员 (第10届)
  p 高雄市建筑师公会公共事务委员 (第12届)
  p 2010- 越南禾扬建筑设计公司总经理
  p 2008- 禾扬建筑设计咨询(上海)有限公司总经理
  p 2008-2009 南京东南联合工程设计有限公司执行副董事长
  p 2004-2005 国立凤山高级中学综合大楼筹建委员会委员
  p 2004 高雄市建筑师公会社区建筑师 (三民区)
  p 2003-2004 东南水泥股份有限公司开发顾问
  p 1999-2000 高苑技术学院建筑系兼任讲师
  p 1998-1999 树德科技大学室内设计系兼任讲师
  p 1998 台北市政府工务局建筑管理处
  p 1997-2004 统立开发股份有限公司专案建筑师、顾问
  p 1996 美国康乃尔大学建筑系助教
  p 1991-1993 台北大宇建筑师事务所专案设计师
  h4 专业
  p 公务人员高等考试及格 （八七高公字第836号）
  p 专技高考建筑师及格 (87专高字第707号)
  p 建筑师证书 (建证字第4132号)
  p 注册建筑师 (高建开证第303号)
  p 台湾省建筑师公会会员 (台建师员字第3232号)
  p 台北市建筑师公会会员 (北师字第2612号)
  p 高雄市建筑师公会会员 (高建师员字第1231号)
  p APEC Architect Register (Certificate No.CT / 00089)
  p 建筑物公共安全检查专业检查人 (认可证字号97D0141320)
  p 建筑物室内装修专业技术人员 (内营室技字第40E1009227号)
  p 消防安全设备设计监造暂行执业 (消暂证字第950215号)
  p 公共建筑物设置身心障碍者行动与使用之设施及设备勘验人员 (内营无障碍字第0578号)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/1.jpg')
article#m2
  h4 职务
  p 执行股东、主持建筑师
  p 夏雯霖建筑师事务所负责人
  h4 学历
  p 台湾成功大学 建筑硕士
  p 台湾澹江大学 建筑学系 台湾大学EMBA 101A商学组
  h4 经历
  p 高雄市建筑师公会公共事务委员 (第11届)
  p 2014- 禾扬建筑设计咨询 (上海) 有限公司负责人
  p 2010 树德科技大学建筑与环境设计系兼任讲师
  p 2008-2009 南京东南联合工程设计有限公司副总经理
  p 2004 高雄市建筑师公会社区建筑师 (三民区)
  p 2001-2004 树德科技大学建筑暨古迹维护系兼任讲师
  p 1994-2000 高雄新建筑事务所建筑师
  p 1994 成大建筑系C+A研究室研究助理
  p 1992-1993 台南林全成建筑师事务所设计师
  p 1991-1992 台北丁茂盛建筑师事务所设计师
  h4 专业
  p 专技高考建筑师及格 (84专高字第692号)
  p 建筑师证书 (建证字第3859号)
  p 注册建筑师 (建开证第1953号)
  p 台湾省建筑师公会会员 (台建师员字第3138号)
  p 台南县建筑师公会会员 (会员证号062)
  p 高雄市建筑师公会会员 (高建师员字第1205号)
  p 福建金门马祖地区建筑师公会会员 (会员证号:0219)
  p 建筑物公共安全检查专业检查人 (认可证字号98A0121941)
  p 建筑物室内装修专业技术人员 (内营室技字第40E1004831号)
  p 消防安全设备设计监造暂行执业 (消暂证字第884034号)
  p 公共建筑物设置身心障碍者行动与使用之设施及设备勘验人员 (内营无障碍字第2059号)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/2.jpg')
article#m3
  h4 职务
  p 执行股东、专案建筑师
  p 刘湘梅建筑师事务所负责人
  h4 学历
  p 美国康乃尔大学 建筑硕士
  p 台湾中原大学 建筑学士
  h4 经历
  p 2013- 禾境室内装修设计工程有限公司负责人
  p 2009- 正修科技大学建筑系兼任讲师
  p 2005-2006 树德科技大学建筑暨古迹维护系兼任讲师
  p 2004 高雄市建筑师公会社区建筑师 (三民区)
  p 1998-1999 树德科技大学室内设计系兼任讲师
  p 1998-2000 高雄新瑞都开发股份有限公司营业处副理
  p 1997-1998 高雄施邦兴建筑师事务所主任建筑师
  p 1993-1994 台北太平洋房屋股份有限公司规划设计师
  p 1990-1993 台北大宇建筑师事务所设计师
  p 1988-1989 台北沉祖海建筑师事务所助理设计师
  h4 专业
  p 专技高考建筑师及格 (86专高字第517号)
  p 建筑师证书 (建证字第4047号)
  p 注册建筑师 (高建开证第303号)
  p 高雄市建筑师公会会员 (高建师员字第1179号)
  p 建筑物公共安全检查专业检查人 (认可证字号97D0140470)
  p 建筑物室内装修专业技术人员 (内营室技字第40E1109226号)
  p 公共建筑物设置身心障碍者行动与使用之设施及设备勘验人员 (内营无障碍字第0579号)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/3.jpg')
article#m4
  h4 职务
  p 执行股东、专案建筑师
  p 赵文绅建筑师事务所负责人
  h4 学历
  p 台湾成功大学 建筑硕士
  p 台湾成功大学 建筑学士
  h4 经历
  p 2005-2006 台南县政府城乡发展局
  p 2003-2004 树德科技大学建筑暨古迹维护系兼任讲师
  p 2000 太序建筑事务所设计师
  p 1999 新建筑事务所设计师
  h4 专业
  p 专技高考建筑师及格 (91专高字第9519号)
  p 建筑师证书 (建证字第4864号)
  p 注册建筑师 (高建开证第C000371号)
  p 台湾省建筑师公会会员 (台建师员字第3917号)
  p 高雄市建筑师公会会员 (高建师员字第1478号)
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/4.jpg')
article#m5
  h4 职务
  p 执行股东、上海禾扬建筑设计总监
  h4 学历
  p 台湾东海大学 建筑硕士
  p 台湾高苑科技大学 建筑学士
  h4 经历
  p 2010- 禾扬建筑设计 (上海) 有限公司设计总监
  p 2008-2009 南京东南联合工程设计有限公司专案设计师
  p 2007-2008 禾扬建筑设计 (上海) 有限公司专案设计师
  p 2004 台北张义震建筑师事务所专案经理
  p 2004 台中酒厂现场建筑群调查测绘研究
  p 2003 彰化县「鹿港丁宅」修护工程工事记录
  p 2003 历史建筑台中州厅及台中市役所保存修复之调查研究、修复、再利用规划
  p 2002 鹿港龙山寺「古迹修复之解体调查及工事记录」研究
  p 2000 台南黄志瑞建筑师事务所设计师
  p 1997 台南陈冠州建筑师事务所设计师
  img(src='images/image-loader.svg', title='照片', data-src='images/photo/5.jpg')
